<h1><center>Project 2 LOS</h1>
<h2><center>Pre-Processing</h2>
<h4><center>TCSS 555<br>
Spring 2018<br>
by: Thuan Lam, Tood Robbins, Inno Estrera</h4></center>

<h2>Libraries</h2>

In [1]:
# Load libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.utils import shuffle
from dateutil.parser import parse
from datetime import datetime

from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

## Load Model Datasets
<h1>Data set descriptions</h1>
<h3>https://mimic.physionet.org/mimictables/admissions/</h3>

In [2]:
import os 
cwd = os.getcwd()
print('Current folder is {}'.format(cwd))

Current folder is /Users/innoestrera/repositories/Project-2-Length-Of-Stay/phase 1

### Read files

In [3]:
dataframes = []
if os.name == "posix":
    unreadable = set([
        "LABEVENTS.csv",
        "INPUTEVENTS_CV.csv",
        "DATETIMEEVENTS.csv",
        "PRESCRIPTIONS.csv",
        "NOTEEVENTS.csv",
        "OUTPUTEVENTS.csv",
        "CHARTEVENTS.csv",
        "D_LABITEMS.csv",
        "CPTEVENTS.csv"
    ])
    USER_DIR = '/Users/innoestrera/Desktop/mimic3';
else:
    unreadable = set([])
    USER_DIR = 'C:\mimic3';

for dirpath, dirnames, filenames in os.walk(USER_DIR):
    dataSets = filenames

for fileName in dataSets:
    if fileName != ".DS_Store" and fileName not in unreadable:
        if os.name == "posix":
            csv = USER_DIR + "/{}".format(fileName);
        else:
            csv = USER_DIR + "\{}".format(fileName);
        print("Reading {}".format(csv))
        data = {}
        data['name'] = fileName
        data['table'] = pd.read_csv(csv)
        dataframes.append(data)
print("finished loading all data")

Reading /Users/innoestrera/Desktop/mimic3/PROCEDUREEVENTS_MV.csv
Reading /Users/innoestrera/Desktop/mimic3/CALLOUT.csv
Reading /Users/innoestrera/Desktop/mimic3/D_CPT.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ITEMS.csv
Reading /Users/innoestrera/Desktop/mimic3/CAREGIVERS.csv
Reading /Users/innoestrera/Desktop/mimic3/MICROBIOLOGYEVENTS.csv
Reading /Users/innoestrera/Desktop/mimic3/ADMISSIONS.csv
Reading /Users/innoestrera/Desktop/mimic3/PROCEDURES_ICD.csv
Reading /Users/innoestrera/Desktop/mimic3/TRANSFERS.csv
Reading /Users/innoestrera/Desktop/mimic3/DIAGNOSES_ICD.csv
Reading /Users/innoestrera/Desktop/mimic3/SERVICES.csv
Reading /Users/innoestrera/Desktop/mimic3/DRGCODES.csv
Reading /Users/innoestrera/Desktop/mimic3/PATIENTS.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ICD_DIAGNOSES.csv
Reading /Users/innoestrera/Desktop/mimic3/ICUSTAYS.csv
Reading /Users/innoestrera/Desktop/mimic3/INPUTEVENTS_MV.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ICD_PROCEDURES.csv
finished loading all data

### Shuffling data across all data frames

In [4]:
print("========shuffling all data frames========")
for dataframe in dataframes:
    print("shuffling {}...".format(dataframe['name']))
    shuffle(dataframe['table'])
print("========finished shuffling all data frames========")

========shuffling all data frames========
shuffling PROCEDUREEVENTS_MV.csv...
shuffling CALLOUT.csv...
shuffling D_CPT.csv...
shuffling D_ITEMS.csv...
shuffling CAREGIVERS.csv...
shuffling MICROBIOLOGYEVENTS.csv...
shuffling ADMISSIONS.csv...
shuffling PROCEDURES_ICD.csv...
shuffling TRANSFERS.csv...
shuffling DIAGNOSES_ICD.csv...
shuffling SERVICES.csv...
shuffling DRGCODES.csv...
shuffling PATIENTS.csv...
shuffling D_ICD_DIAGNOSES.csv...
shuffling ICUSTAYS.csv...
shuffling INPUTEVENTS_MV.csv...
shuffling D_ICD_PROCEDURES.csv...
========finished shuffling all data frames========

### Show count for null values

In [5]:
for dataframe in dataframes:
    name = dataframe['name']
    frame = dataframe['table']
    print("{} nulls below".format(name))
    print(frame.isnull().sum())
    print("Total rows: {}".format(len(frame.index)))
    print("========================")

PROCEDUREEVENTS_MV.csv nulls below
ROW_ID                             0
SUBJECT_ID                         0
HADM_ID                            0
ICUSTAY_ID                        88
STARTTIME                          0
ENDTIME                            0
ITEMID                             0
VALUE                              0
VALUEUOM                           0
LOCATION                      205454
LOCATIONCATEGORY              205454
STORETIME                          0
CGID                               0
ORDERID                            0
LINKORDERID                        0
ORDERCATEGORYNAME                  0
SECONDARYORDERCATEGORYNAME    258066
ORDERCATEGORYDESCRIPTION           0
ISOPENBAG                          0
CONTINUEINNEXTDEPT                 0
CANCELREASON                       0
STATUSDESCRIPTION                  0
COMMENTS_EDITEDBY             255973
COMMENTS_CANCELEDBY           252377
COMMENTS_DATE                 250284
dtype: int64
Total rows: 258066
========================
CALLOUT.csv nulls below
ROW_ID                        0
SUBJECT_ID                    0
HADM_ID                       0
SUBMIT_WARDID                 1
SUBMIT_CAREUNIT           29377
CURR_WARDID                   1
CURR_CAREUNIT                 1
CALLOUT_WARDID                0
CALLOUT_SERVICE               0
REQUEST_TELE                  0
REQUEST_RESP                  0
REQUEST_CDIFF                 0
REQUEST_MRSA                  0
REQUEST_VRE                   0
CALLOUT_STATUS                0
CALLOUT_OUTCOME               0
DISCHARGE_WARDID           4532
ACKNOWLEDGE_STATUS            0
CREATETIME                    0
UPDATETIME                    0
ACKNOWLEDGETIME            1792
OUTCOMETIME                   0
FIRSTRESERVATIONTIME      19239
CURRENTRESERVATIONTIME    33335
dtype: int64
Total rows: 34499
========================
D_CPT.csv nulls below
ROW_ID                   0
CATEGORY                 0
SECTIONRANGE             0
SECTIONHEADER            0
SUBSECTIONRANGE          0
SUBSECTIONHEADER         0
CODESUFFIX             123
MINCODEINSUBSECTION      0
MAXCODEINSUBSECTION      0
dtype: int64
Total rows: 134
========================
D_ITEMS.csv nulls below
ROW_ID              0
ITEMID              0
LABEL               4
ABBREVIATION     9495
DBSOURCE            0
LINKSTO             0
CATEGORY         6438
UNITNAME        11253
PARAM_TYPE       9495
CONCEPTID       12487
dtype: int64
Total rows: 12487
========================
CAREGIVERS.csv nulls below
ROW_ID            0
CGID              0
LABEL            49
DESCRIPTION    2412
dtype: int64
Total rows: 7567
========================
MICROBIOLOGYEVENTS.csv nulls below
ROW_ID                      0
SUBJECT_ID                  0
HADM_ID                     0
CHARTDATE                   0
CHARTTIME               41772
SPEC_ITEMID                79
SPEC_TYPE_DESC              0
ORG_ITEMID             304845
ORG_NAME               303710
ISOLATE_NUM            303710
AB_ITEMID              355892
AB_NAME                355892
DILUTION_TEXT          364376
DILUTION_COMPARISON    364548
DILUTION_VALUE         364548
INTERPRETATION         355892
dtype: int64
Total rows: 631726
========================
ADMISSIONS.csv nulls below
ROW_ID                      0
SUBJECT_ID                  0
HADM_ID                     0
ADMITTIME                   0
DISCHTIME                   0
DEATHTIME               53122
ADMISSION_TYPE              0
ADMISSION_LOCATION          0
DISCHARGE_LOCATION          0
INSURANCE                   0
LANGUAGE                25332
RELIGION                  458
MARITAL_STATUS          10128
ETHNICITY                   0
EDREGTIME               28099
EDOUTTIME               28099
DIAGNOSIS                  25
HOSPITAL_EXPIRE_FLAG        0
HAS_CHARTEVENTS_DATA        0
dtype: int64
Total rows: 58976
========================
PROCEDURES_ICD.csv nulls below
ROW_ID        0
SUBJECT_ID    0
HADM_ID       0
SEQ_NUM       0
ICD9_CODE     0
dtype: int64
Total rows: 240095
========================
TRANSFERS.csv nulls below
ROW_ID                0
SUBJECT_ID            0
HADM_ID               0
ICUSTAY_ID       174176
DBSOURCE            241
EVENTTYPE            24
PREV_CAREUNIT    165888
CURR_CAREUNIT    165881
PREV_WARDID       58933
CURR_WARDID       58943
INTIME               24
OUTTIME           58976
LOS               58976
dtype: int64
Total rows: 261897
========================
DIAGNOSES_ICD.csv nulls below
ROW_ID         0
SUBJECT_ID     0
HADM_ID        0
SEQ_NUM       47
ICD9_CODE     47
dtype: int64
Total rows: 651047
========================
SERVICES.csv nulls below
ROW_ID              0
SUBJECT_ID          0
HADM_ID             0
TRANSFERTIME        0
PREV_SERVICE    58675
CURR_SERVICE        0
dtype: int64
Total rows: 73343
========================
DRGCODES.csv nulls below
ROW_ID               0
SUBJECT_ID           0
HADM_ID              0
DRG_TYPE             0
DRG_CODE             0
DESCRIPTION         63
DRG_SEVERITY     58923
DRG_MORTALITY    58923
dtype: int64
Total rows: 125557
========================
PATIENTS.csv nulls below
ROW_ID             0
SUBJECT_ID         0
GENDER             0
DOB                0
DOD            30761
DOD_HOSP       36546
DOD_SSN        33142
EXPIRE_FLAG        0
dtype: int64
Total rows: 46520
========================
D_ICD_DIAGNOSES.csv nulls below
ROW_ID         0
ICD9_CODE      0
SHORT_TITLE    0
LONG_TITLE     0
dtype: int64
Total rows: 14567
========================
ICUSTAYS.csv nulls below
ROW_ID             0
SUBJECT_ID         0
HADM_ID            0
ICUSTAY_ID         0
DBSOURCE           0
FIRST_CAREUNIT     0
LAST_CAREUNIT      0
FIRST_WARDID       0
LAST_WARDID        0
INTIME             0
OUTTIME           10
LOS               10
dtype: int64
Total rows: 61532
========================
INPUTEVENTS_MV.csv nulls below
ROW_ID                                 0
SUBJECT_ID                             0
HADM_ID                                0
ICUSTAY_ID                          1164
STARTTIME                              0
ENDTIME                                0
ITEMID                                 0
AMOUNT                                 0
AMOUNTUOM                              0
RATE                             1576139
RATEUOM                          1576139
STORETIME                              0
CGID                                   0
ORDERID                                0
LINKORDERID                            0
ORDERCATEGORYNAME                      0
SECONDARYORDERCATEGORYNAME        983428
ORDERCOMPONENTTYPEDESCRIPTION          0
ORDERCATEGORYDESCRIPTION               0
PATIENTWEIGHT                          0
TOTALAMOUNT                       534027
TOTALAMOUNTUOM                    530354
ISOPENBAG                              0
CONTINUEINNEXTDEPT                     0
CANCELREASON                           0
STATUSDESCRIPTION                      0
COMMENTS_EDITEDBY                3369730
COMMENTS_CANCELEDBY              3499629
COMMENTS_DATE                    3250366
ORIGINALAMOUNT                         0
ORIGINALRATE                           0
dtype: int64
Total rows: 3618991
========================
D_ICD_PROCEDURES.csv nulls below
ROW_ID         0
ICD9_CODE      0
SHORT_TITLE    0
LONG_TITLE     0
dtype: int64
Total rows: 3882
========================

### Lower case all columns

In [21]:
print("========lowercasing all columns across all frames========")
for dataframe in dataframes:
    dataframe['table'].columns = map(str.lower, dataframe['table'].columns)
print("========finished lowercasing all columns========")


unneededColumns = [
    "row_id",
    "location",
    "locationcategory",
    "secondaryordercategoryname",
    "comments_editedby",
    "comments_canceledby"
    "edouttime",
    "hospital_expire_flag",
    "has_chartevents_data",
    "dod",
    "dod_hosp",
    "dod_ssn",
    "expire_flag",
    "deathtime"
];

print("========Dropping {} columns across all frames========".format(unneededColumns))
for dataframe in dataframes:
    for column in dataframe['table'].columns.values:
        if column in unneededColumns:
            dataframe['table'] = dataframe['table'].drop(column, axis=1)
print("========finished dropping unneeded columns {}========".format(unneededColumns))

========lowercasing all columns across all frames========
========finished lowercasing all columns========
========Dropping ['row_id', 'location', 'locationcategory', 'secondaryordercategoryname', 'comments_editedby', 'comments_canceledbyedouttime', 'hospital_expire_flag', 'has_chartevents_data', 'dod', 'dod_hosp', 'dod_ssn', 'expire_flag', 'deathtime'] columns across all frames========
========finished dropping unneeded columns ['row_id', 'location', 'locationcategory', 'secondaryordercategoryname', 'comments_editedby', 'comments_canceledbyedouttime', 'hospital_expire_flag', 'has_chartevents_data', 'dod', 'dod_hosp', 'dod_ssn', 'expire_flag', 'deathtime']========

### Dropping columns with null values

In [22]:
requiredColumns=['subject_id', 'hadm_id', 'icustay_id']

print("==========Dropping rows with null values for required keys {} ==========".format(requiredColumns))
for obj in dataframes:
    df = obj['table']
    for column in df.columns.values:
        if column in requiredColumns:
            df = df[df[column].notnull()];
print("==========All rows with null values have been dropped {}==========".format(requiredColumns))

==========Dropping rows with null values for required keys ['subject_id', 'hadm_id', 'icustay_id'] ==========
==========All rows with null values have been dropped ['subject_id', 'hadm_id', 'icustay_id']==========

### Merging Tables

In [23]:
primaryTables = [
    "ADMISSIONS.csv",
    "PATIENTS.csv"
];

for obj in dataframes:
    name = obj['name']
    df = obj['table']
    if name == "ICUSTAYS.csv":
        masterTable = df.groupby(['subject_id'], as_index=False)['los'].sum()
        break;

for obj in dataframes:
    name = obj['name']
    df = obj['table']
    if name in primaryTables:
        masterTable = pd.merge(masterTable, df, on='subject_id', how='outer');

masterTable = masterTable[masterTable['los'].notnull()]
print(masterTable.isnull().sum())
print(masterTable.shape)

subject_id                0
los                       0
hadm_id                   0
admittime                 0
dischtime                 0
admission_type            0
admission_location        0
discharge_location        0
insurance                 0
language              25304
religion                457
marital_status        10121
ethnicity                 0
edregtime             28072
edouttime             28072
diagnosis                24
gender                    0
dob                       0
dtype: int64
(58931, 18)

In [ ]:
# for dataframe in dataframes:
#     print("========{}========".format(dataframe['name']))
#     dataframe['table'].info()
#     print("========{}========".format(dataframe['name']))

In [16]:
# print("========Creating Master Table========")
# masterTable = pd.DataFrame(columns=['subject_id', 'LOS'])

# tablesWithSubjectId = set([
#     "PROCEDUREEVENTS_MV.csv",
#     "CALLOUT.csv",
#     "MICROBIOLOGYEVENTS.csv",
#     "ADMISSIONS.csv",
#     "PROCEDURES_ICD.csv",
#     "TRANSFERS.csv",
#     "DIAGNOSES_ICD.csv",
#     "SERVICES.csv",
#     "DRGCODES.csv",
#     "PATIENTS.csv",
#     "ICUSTAYS.csv",
#     "INPUTEVENTS_MV.csv"
# ]);

# for dataframe in dataframes:
#     if dataframe['name'] in tablesWithSubjectId:
#         print("merging {} to masterTable on subject_id...".format(dataframe['name']))
#         masterTable = pd.merge(masterTable, dataframe["table"], on='subject_id', how='outer')
# print("========Finished Merging Tables to MasterTable on SUBJECT_ID========")
# print(masterTable.shape)

========Creating Master Table========
merging PROCEDUREEVENTS_MV.csv to masterTable on subject_id...
merging CALLOUT.csv to masterTable on subject_id...
merging MICROBIOLOGYEVENTS.csv to masterTable on subject_id...
merging ADMISSIONS.csv to masterTable on subject_id...

KeyboardInterrupt:

In [ ]:

# join 
#   ICUSTAYS.csv, 
#   INPUTEVENTS_MV.csv, 
#   PROCEDUREEVENTS_MV.csv, 
#   TRANSFERS.csv
# on ICUSTAY_ID


# join
#   PROCEDUREEVENTS_MV.csv,
#   CALLOUT.csv,
#   MICROBIOLOGYEVENTS.csv,
#   ADMISSIONS.csv,
#   PROCEDURES_ICD.csv,
#   TRANSFERS.csv,
#   DIAGNOSES_ICD.csv,
#   SERVICES.csv,
#   DRGCODES.csv,
#   PATIENTS.csv,
#   ICUSTAYS.csv,
#   INPUTEVENTS_MV.csv
# on 
#   SUBJECT_ID


# join
#   PROCEDUREEVENTS_MV.csv,
#   CALLOUT.csv,
#   MICROBIOLOGYEVENTS.csv,
#   ADMISSIONS.csv,
#   PROCEDURES_ICD.csv,
#   TRANSFERS.csv,
#   DIAGNOSES_ICD.csv,
#   SERVICES.csv,
#   DRGCODES.csv,
#   ICUSTAYS.csv,
#   INPUTEVENTS_MV.csv
# on
#   HADM_ID

## Examine datasets

In [16]:
masterTable.sample(n=20)

,subject_id,los,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,...,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
23160,19007,0.2492,104150,2108-08-17 21:39:00,2108-08-21 11:26:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,...,NaN,NEWBORN,0,1,M,2108-08-17 00:00:00,NaN,NaN,NaN,0
37399,30743,17.4839,170722,2135-10-02 02:50:00,2135-10-19 14:45:00,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Private,...,NaN,NEWBORN,0,1,F,2135-10-02 00:00:00,NaN,NaN,NaN,0
36095,29631,20.0607,141170,2180-12-04 21:33:00,2180-12-13 14:39:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,2180-12-04 22:22:00,UNRESPONSIVE,0,1,M,2101-06-09 00:00:00,2182-12-05 00:00:00,NaN,2182-12-05 00:00:00,1
24470,20068,3.8791,190986,2145-04-30 20:24:00,2145-05-06 03:30:00,2145-05-06 03:30:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,2145-04-30 21:15:00,CEREBROVASCULAR ACCIDENT,1,1,F,1845-04-30 00:00:00,2145-05-06 00:00:00,2145-05-06 00:00:00,2145-05-06 00:00:00,1
16027,13072,3.3095,184787,2184-08-18 08:00:00,2184-08-21 10:41:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,...,NaN,TUBERCULUM MENINGIOMA/SDA,0,1,F,2146-10-09 00:00:00,NaN,NaN,NaN,0
21899,17944,1.1484,125481,2176-04-24 11:04:00,2176-04-25 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,2176-04-24 12:07:00,DIABETIC KETOACIDOSIS,0,1,F,2146-01-17 00:00:00,NaN,NaN,NaN,0
51917,77847,1.2539,139188,2164-03-25 08:37:00,2164-03-27 14:30:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,NaN,CHEST PAIN/CATH,0,1,M,2126-03-26 00:00:00,NaN,NaN,NaN,0
26265,21521,1.2861,196977,2190-08-28 06:18:00,2190-08-29 13:11:00,2190-08-29 13:11:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,2190-08-28 06:23:00,COLITIS-URINARY TRACT INFECTION,1,1,M,2108-06-29 00:00:00,2190-08-29 00:00:00,2190-08-29 00:00:00,2190-08-29 00:00:00,1
35725,29330,2.3217,152522,2144-06-24 13:37:00,2144-06-26 19:00:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Medicare,...,NaN,RESPIRATORY ARREST;S/P ERCP,0,1,M,2071-07-08 00:00:00,NaN,NaN,NaN,0
53979,84350,3.7127,172415,2199-11-18 16:44:00,2199-11-29 15:30:00,NaN,EMERGENCY,PHYS REFERRAL/NORMAL DELI,HOME,Private,...,NaN,SUBDURAL BLEEDING,0,1,M,2146-11-23 00:00:00,NaN,NaN,NaN,0
12530,10252,19.0536,166846,2177-06-20 10:37:00,2177-07-09 08:45:00,NaN,NEWBORN,HMO REFERRAL/SICK,HOME HEALTH CARE,Medicaid,...,NaN,NEWBORN,0,1,M,2177-06-20 00:00:00,NaN,NaN,NaN,0
40946,43876,7.0930,185358,2165-11-27 20:17:00,2165-12-06 18:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicare,...,2165-11-27 22:35:00,INTRACRANIAL HEMORRHAGE,0,1,M,2091-01-19 00:00:00,NaN,NaN,NaN,0
4072,3385,0.1196,140982,2159-08-19 01:24:00,2159-08-23 11:23:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,...,NaN,NEWBORN,0,1,M,2159-08-19 00:00:00,NaN,NaN,NaN,0
35308,28970,31.7481,196494,2151-11-07 01:42:00,2151-12-08 18:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,...,NaN,NEWBORN,0,1,F,2151-11-07 00:00:00,NaN,NaN,NaN,0
44076,53531,1.2312,115366,2136-05-18 19:26:00,2136-05-26 13:58:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,Private,...,2136-05-18 21:48:00,PNEUMOTHORAX;ACETABULAR FRACTURE,0,1,M,2092-11-10 00:00:00,NaN,NaN,NaN,0
39180,32348,3.5139,146380,2145-07-25 16:20:00,2145-07-26 09:05:00,2145-07-26 09:05:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,2145-07-25 17:19:00,HYPOTENSION,1,1,M,2068-01-28 00:00:00,2145-07-26 00:00:00,2145-07-26 00:00:00,2145-07-26 00:00:00,1
39702,32782,0.1774,192581,2179-10-03 12:48:00,2179-10-05 12:30:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Medicaid,...,NaN,NEWBORN,0,1,M,2179-10-03 00:00:00,NaN,NaN,NaN,0
30700,25155,3.2517,123755,2116-11-09 07:15:00,2116-11-14 12:45:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,NaN,THORACIC ANEURYSM/SDA,0,1,F,2033-07-28 00:00:00,2120-05-25 00:00:00,2120-05-25 00:00:00,NaN,1
10433,8539,10.6037,130161,2165-03-29 01:44:00,2165-04-08 16:14:00,2165-04-08 16:14:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Private,...,2165-03-29 02:00:00,S/P FALL,1,1,F,2102-01-23 00:00:00,2165-04-08 00:00:00,2165-04-08 00:00:00,2165-04-08 00:00:00,1
41314,45079,3.2284,155625,2179-07-12 13:21:00,2179-07-18 13:15:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Private,...,NaN,CORONARY ARTERY DISEASE,0,1,M,2135-04-06 00:00:00,NaN,NaN,NaN,0

In [13]:
dataAdm.sample(n=20)

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
29190,29152,23849,102435,2188-06-10 11:45:00,2188-06-17 13:20:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT/SDA,0,1
12348,12325,10075,153175,2184-10-04 07:15:00,2184-10-11 14:50:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,AORTIC STENOSIS\BENTAL PROCEDURE /SDA,0,1
13957,12244,9994,138309,2167-08-03 07:15:00,2167-08-08 18:02:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
20561,19000,15560,192863,2112-12-12 16:51:00,2112-12-21 11:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,JEWISH,MARRIED,WHITE,2112-12-12 11:52:00,2112-12-12 17:44:00,RULE-OUT MYOCARDIAL INFARCTION;TELEMETRY,0,1
54375,53459,82494,146806,2109-10-17 02:40:00,2109-11-01 16:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,BLACK/AFRICAN AMERICAN,2109-10-16 18:35:00,2109-10-17 03:27:00,POLYTRAUMA,0,1
44753,44622,55027,199296,2115-02-25 14:00:00,2115-03-02 18:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,NaN,NaN,AORTIC STENOSIS\? CORONARY ARTERY BYPASS GRAFT...,0,1
39617,38157,31369,170740,2176-08-25 15:04:00,2176-09-07 14:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2176-08-25 12:47:00,2176-08-25 16:33:00,UPPER GI BLEED,0,1
36019,35220,28863,140125,2131-11-03 17:58:00,2131-11-04 12:50:00,2131-11-04 12:50:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,UNABLE TO OBTAIN,NaN,NaN,MYOCARDIAL INFARCTION,1,1
47816,46848,61855,189040,2104-02-28 17:17:00,2104-03-05 21:40:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2104-02-28 14:52:00,2104-02-28 18:15:00,SUBARACHNOID HEMORRHAGE,0,1
15911,15871,12947,193885,2190-08-27 11:54:00,2190-08-30 19:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,NaN,MARRIED,UNKNOWN/NOT SPECIFIED,NaN,NaN,"DYSPNEA, CAD\CATH",0,1
19580,15690,12798,180835,2190-03-15 14:01:00,2190-03-23 14:46:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,JEWISH,MARRIED,WHITE,NaN,NaN,CONGESTIVE HEART FAILURE\RIGHT HEART CATH,0,1
52870,51259,75817,157334,2185-06-12 16:44:00,2185-07-29 16:40:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,ENGL,CATHOLIC,SINGLE,WHITE,2185-06-12 14:37:00,2185-06-12 18:58:00,SEIZURE,0,1
32283,32363,26451,113493,2116-08-10 21:05:00,2116-08-19 12:21:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,JEWISH,MARRIED,WHITE,2116-08-10 18:51:00,2116-08-10 21:06:00,DIVERTICULITIS,0,1
16042,15041,12240,124994,2134-09-22 22:52:00,2134-09-28 04:13:00,2134-09-28 04:13:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,NaN,NaN,UNKNOWN/NOT SPECIFIED,2134-09-22 16:41:00,2134-09-23 01:52:00,GASTROINTESTINAL BLEED,1,1
15796,14867,12093,165335,2115-04-27 18:33:00,2115-05-07 02:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,NOT SPECIFIED,SINGLE,WHITE,2115-04-27 16:26:00,2115-04-27 20:30:00,UPPER GI BLEED,0,1
14852,17901,14625,107638,2182-09-24 17:32:00,2182-09-25 14:19:00,2182-09-25 14:19:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,NOT SPECIFIED,WIDOWED,UNKNOWN/NOT SPECIFIED,NaN,NaN,MYOCARDIAL INFARCTION\CATH,1,1
48677,49849,71200,147685,2113-08-16 16:02:00,2113-08-18 13:00:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOSPICE-HOME,Medicaid,ENGL,NOT SPECIFIED,MARRIED,WHITE,2113-08-16 12:23:00,2113-08-16 18:56:00,IVC OBSTRUCTION,0,1
39354,40998,43909,167612,2152-10-09 19:05:00,2152-10-09 22:33:00,2152-10-09 22:33:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,RUSS,UNOBTAINABLE,NaN,WHITE,2152-10-09 17:00:00,2152-10-09 19:54:00,PNEUMONIA;TELEMETRY,1,1
25967,27146,22237,130173,2106-03-10 00:00:00,2106-03-17 17:05:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,NaN,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,ASD\REPAIR ATRIAL-SEPTAL DEFECT; LIMITED ACCESS,0,1
6737,5186,4283,188252,2196-04-06 18:29:00,2196-04-08 12:35:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,OTHER,NaN,NaN,NEWBORN,0,1

In [14]:
dataPat.sample(n=20)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
28312,31705,43561,F,2079-04-20 00:00:00,NaN,NaN,NaN,0
1667,1723,1823,F,2100-12-13 00:00:00,NaN,NaN,NaN,0
29323,22142,23453,F,2184-07-20 00:00:00,NaN,NaN,NaN,0
10865,11655,12312,M,2094-03-21 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,1
34324,27273,28955,F,2122-10-13 00:00:00,NaN,NaN,NaN,0
34100,36464,61355,F,2130-12-06 00:00:00,NaN,NaN,NaN,0
25077,26139,27713,M,2114-11-12 00:00:00,NaN,NaN,NaN,0
20625,15425,16314,M,2137-09-02 00:00:00,NaN,NaN,NaN,0
30168,32782,47618,F,2080-04-15 00:00:00,NaN,NaN,NaN,0
34348,27297,28981,F,2106-11-11 00:00:00,NaN,NaN,NaN,0
2092,1470,1552,F,2144-11-02 00:00:00,NaN,NaN,NaN,0
38494,46234,98899,M,2095-07-22 00:00:00,NaN,NaN,NaN,0
25483,31466,42555,F,2130-06-18 00:00:00,NaN,NaN,NaN,0
34869,33116,48857,M,2061-04-28 00:00:00,NaN,NaN,NaN,0
45206,29872,31813,M,2060-03-14 00:00:00,NaN,NaN,NaN,0
27516,32956,48237,F,2109-10-19 00:00:00,NaN,NaN,NaN,0
27130,31853,44154,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1
7651,8240,8713,M,2184-09-02 00:00:00,NaN,NaN,NaN,0
8260,7443,7869,M,2181-07-06 00:00:00,NaN,NaN,NaN,0
37117,45921,97672,M,2160-01-17 00:00:00,NaN,NaN,NaN,0

In [15]:
## Analyze Call out data

In [16]:
#if os.name == "posix":
dataCallOUT = pd.read_csv("C:\mimic3\CALLOUT.csv")
dataCallOUT = shuffle(dataCallOUT)
dataCallOUT.columns = [x.lower() for x in dataCallOUT.columns]
print("========CallOUT=========")
dataCallOUT.info()
print("=========================")
print()
print("========Sample=========")
dataCallOUT.sample(n=20)

========CallOUT=========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34499 entries, 17011 to 25090
Data columns (total 24 columns):
row_id                    34499 non-null int64
subject_id                34499 non-null int64
hadm_id                   34499 non-null int64
submit_wardid             34498 non-null float64
submit_careunit           5122 non-null object
curr_wardid               34498 non-null float64
curr_careunit             34498 non-null object
callout_wardid            34499 non-null int64
callout_service           34499 non-null object
request_tele              34499 non-null int64
request_resp              34499 non-null int64
request_cdiff             34499 non-null int64
request_mrsa              34499 non-null int64
request_vre               34499 non-null int64
callout_status            34499 non-null object
callout_outcome           34499 non-null object
discharge_wardid          29967 non-null float64
acknowledge_status        34499 non-null object
createtime                34499 non-null object
updatetime                34499 non-null object
acknowledgetime           32707 non-null object
outcometime               34499 non-null object
firstreservationtime      15260 non-null object
currentreservationtime    1164 non-null object
dtypes: float64(3), int64(9), object(12)
memory usage: 6.6+ MB
=========================

========Sample=========

,row_id,subject_id,hadm_id,submit_wardid,submit_careunit,curr_wardid,curr_careunit,callout_wardid,callout_service,request_tele,...,callout_status,callout_outcome,discharge_wardid,acknowledge_status,createtime,updatetime,acknowledgetime,outcometime,firstreservationtime,currentreservationtime
1300,1485,3866,162324,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2135-01-26 10:33:55,2135-01-26 10:33:55,2135-01-26 10:39:08,2135-01-26 21:10:04,NaN,NaN
21172,22507,60947,181779,52.0,NaN,29.0,MICU,1,SURG,1,...,Inactive,Discharged,29.0,Acknowledged,2158-04-08 09:29:41,2158-04-08 13:36:02,2158-04-08 13:40:20,2158-04-08 20:40:08,2158-04-08 13:10:11,NaN
31585,30287,86276,149638,52.0,NaN,24.0,MICU,1,MED,0,...,Inactive,Discharged,24.0,Acknowledged,2174-10-12 13:51:04,2174-10-12 17:33:26,2174-10-12 17:33:28,2174-10-12 21:58:56,2174-10-12 20:29:15,NaN
16237,17627,45767,157789,52.0,NaN,48.0,MICU,48,OMED,1,...,Inactive,Discharged,48.0,Acknowledged,2110-07-22 11:44:02,2110-07-22 20:01:59,2110-07-22 21:03:19,2110-07-24 00:44:09,NaN,NaN
20455,21461,57715,178632,14.0,NaN,40.0,TSICU,40,TRAUM,1,...,Inactive,Discharged,40.0,Acknowledged,2110-02-21 10:34:58,2110-02-21 10:34:58,2110-02-21 10:50:00,2110-02-21 17:25:25,2110-02-21 11:55:27,NaN
9452,7410,19236,121214,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2144-04-02 12:12:16,2144-04-02 12:12:16,2144-04-03 04:53:37,2144-04-03 17:10:02,NaN,NaN
12514,11721,28152,135885,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2165-11-25 12:32:07,2165-11-25 15:03:36,2165-11-25 15:15:51,2165-11-25 20:40:41,2165-11-25 18:41:20,NaN
10513,8688,22590,172396,14.0,TSICU,14.0,TSICU,1,TRAUM,1,...,Inactive,Cancelled,NaN,Acknowledged,2178-12-27 08:59:14,2178-12-27 17:33:57,2178-12-27 12:23:47,2178-12-27 17:33:57,NaN,NaN
10669,8921,23201,131913,15.0,NaN,17.0,CSRU,17,CMED,1,...,Inactive,Discharged,17.0,Acknowledged,2181-10-06 15:19:06,2181-10-06 15:30:29,2181-10-06 15:34:47,2181-10-06 20:10:03,NaN,NaN
11667,15028,31858,188159,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2185-10-21 11:24:58,2185-10-21 11:26:16,2185-10-21 11:55:58,2185-10-22 23:40:03,NaN,NaN
31057,31389,90067,144423,14.0,TSICU,14.0,TSICU,40,TRAUM,0,...,Inactive,Cancelled,NaN,Acknowledged,2155-10-07 10:19:34,2155-10-07 11:28:38,2155-10-07 10:27:34,2155-10-07 11:28:38,NaN,NaN
14084,13225,29728,179225,7.0,NaN,2.0,CCU,1,CMED,1,...,Inactive,Discharged,2.0,Revised,2173-09-17 09:07:29,2173-09-17 17:20:39,NaN,2173-09-17 21:55:02,NaN,NaN
10158,11085,27498,123136,14.0,NaN,3.0,TSICU,3,NSURG,0,...,Inactive,Discharged,3.0,Acknowledged,2173-07-12 14:49:27,2173-07-13 08:42:21,2173-07-13 09:17:35,2173-07-13 18:40:03,NaN,NaN
8756,7355,19078,194050,23.0,NaN,2.0,MICU,1,CCU,1,...,Inactive,Discharged,2.0,Acknowledged,2114-12-06 13:25:19,2114-12-06 13:25:19,2114-12-06 14:06:58,2114-12-06 20:25:05,NaN,NaN
7646,8278,21522,187500,57.0,SICU,57.0,SICU,1,SURG,1,...,Inactive,Cancelled,NaN,Unacknowledged,2197-04-15 12:18:51,2197-04-15 12:43:30,NaN,2197-04-15 12:43:30,NaN,NaN
4238,4703,12011,130378,52.0,MICU,52.0,MICU,1,GU,0,...,Inactive,Cancelled,NaN,Revised,2173-03-10 12:45:38,2173-03-10 17:40:18,NaN,2173-03-10 17:40:18,NaN,NaN
18171,17091,44083,131048,7.0,CCU,7.0,CCU,17,CCU,1,...,Inactive,Cancelled,NaN,Acknowledged,2112-05-24 16:27:05,2112-05-24 18:45:28,2112-05-24 17:42:04,2112-05-24 18:45:28,2112-05-24 17:55:07,2112-05-24 17:55:07
9100,8358,21745,115254,23.0,NaN,4.0,MICU,1,MED,0,...,Inactive,Discharged,4.0,Acknowledged,2114-06-02 10:44:43,2114-06-02 10:44:43,2114-06-02 14:49:28,2114-06-02 18:40:01,NaN,NaN
8959,7375,19129,135835,12.0,CSRU,12.0,CSRU,55,CSURG,1,...,Inactive,Cancelled,NaN,Acknowledged,2193-03-10 10:34:11,2193-03-10 23:51:46,2193-03-10 10:38:37,2193-03-10 23:51:46,NaN,NaN
22589,23066,62811,146984,14.0,NaN,40.0,TSICU,40,TRAUM,0,...,Inactive,Discharged,40.0,Acknowledged,2166-03-28 11:01:26,2166-03-28 11:01:26,2166-03-28 11:39:14,2166-03-28 12:55:09,2166-03-28 11:10:08,NaN

In [17]:
## concatinate tables

In [27]:
# dataCallOUT.subject_id.duplicated().sum()
# patient id and adm id to callout is one to many 

#outcome_only = dataCallOUT[dataCallOUT['callout_outcome']==1]

#g = outcome_only.groupby(['callout_service']).size().reset_index(name='callout_service_counts')
#g['service_counts'] = data.groupby(['callout_service']).size().reset_index(name='service_counts')['service_counts']
#g['service_percent'] = g.apply(lambda row: row.callout_service_counts / row.service_counts * 100, axis=1)
#g = g.drop(columns=['callout_service_counts','service_counts'])
#g.iloc[0, g.columns.get_loc('callout_service')] = 'Female'
#g.iloc[1, g.columns.get_loc('callout_service')] = 'Male'
#g = g.set_index('gender')
#g.plot.bar(subplots=True, legend=None, ax=axes[0,0], rot=0, fontsize=12)

## Test and Training sets

## Conclusion
#### From the the following tables (ADMISSIONS, ICUSTAYS, PATIENTS) this data concludes that the following columns are the most useful in determining the length of stay of the patient.