<h1><center>Project 2 LOS</h1>
<h2><center>Pre-Processing</h2>
<h4><center>TCSS 555<br>
Spring 2018<br>
by: Thuan Lam, Tood Robbins, Inno Estrera</h4></center>

<h2>Libraries</h2>

In [1]:
# Load libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.utils import shuffle
from dateutil.parser import parse
from datetime import datetime

from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

## Load Model Datasets
<h1>Data set descriptions</h1>
<h3>https://mimic.physionet.org/mimictables/admissions/</h3>

In [2]:
import os 
cwd = os.getcwd()
print('Current folder is {}'.format(cwd))

Current folder is /Users/innoestrera/repositories/Project-2-Length-Of-Stay/phase 1

In [3]:
dataframes = []
if os.name == "posix":
    unreadable = set([
        "LABEVENTS.csv",
        "INPUTEVENTS_CV.csv",
        "DATETIMEEVENTS.csv",
        "PRESCRIPTIONS.csv",
        "NOTEEVENTS.csv",
        "OUTPUTEVENTS.csv",
        "CHARTEVENTS.csv",
        "D_LABITEMS.csv",
        "CPTEVENTS.csv"
    ])
    USER_DIR = '/Users/innoestrera/Desktop/mimic3';
else:
    unreadable = set([])
    USER_DIR = 'C:\mimic3';

for dirpath, dirnames, filenames in os.walk(USER_DIR):
    dataSets = filenames

for fileName in dataSets:
    if fileName != ".DS_Store" and fileName not in unreadable:
        if os.name == "posix":
            csv = USER_DIR + "/{}".format(fileName);
        else:
            csv = USER_DIR + "\{}".format(fileName);
        print("Reading {}".format(csv))
        data = {}
        data['name'] = fileName
        data['table'] = pd.read_csv(csv)
        dataframes.append(data)
print("finished loading all data")

Reading /Users/innoestrera/Desktop/mimic3/PROCEDUREEVENTS_MV.csv
Reading /Users/innoestrera/Desktop/mimic3/CALLOUT.csv
Reading /Users/innoestrera/Desktop/mimic3/D_CPT.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ITEMS.csv
Reading /Users/innoestrera/Desktop/mimic3/CAREGIVERS.csv
Reading /Users/innoestrera/Desktop/mimic3/MICROBIOLOGYEVENTS.csv
Reading /Users/innoestrera/Desktop/mimic3/ADMISSIONS.csv
Reading /Users/innoestrera/Desktop/mimic3/PROCEDURES_ICD.csv
Reading /Users/innoestrera/Desktop/mimic3/TRANSFERS.csv
Reading /Users/innoestrera/Desktop/mimic3/DIAGNOSES_ICD.csv
Reading /Users/innoestrera/Desktop/mimic3/SERVICES.csv
Reading /Users/innoestrera/Desktop/mimic3/DRGCODES.csv
Reading /Users/innoestrera/Desktop/mimic3/PATIENTS.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ICD_DIAGNOSES.csv
Reading /Users/innoestrera/Desktop/mimic3/ICUSTAYS.csv
Reading /Users/innoestrera/Desktop/mimic3/INPUTEVENTS_MV.csv
Reading /Users/innoestrera/Desktop/mimic3/D_ICD_PROCEDURES.csv
finished loading all data

In [4]:
print("========shuffling all data frames========")
for dataframe in dataframes:
    print("shuffling {}...".format(dataframe['name']))
    shuffle(dataframe['table'])
print("========finished shuffling all data frames========")

========shuffling all data frames========
shuffling PROCEDUREEVENTS_MV.csv...
shuffling CALLOUT.csv...
shuffling D_CPT.csv...
shuffling D_ITEMS.csv...
shuffling CAREGIVERS.csv...
shuffling MICROBIOLOGYEVENTS.csv...
shuffling ADMISSIONS.csv...
shuffling PROCEDURES_ICD.csv...
shuffling TRANSFERS.csv...
shuffling DIAGNOSES_ICD.csv...
shuffling SERVICES.csv...
shuffling DRGCODES.csv...
shuffling PATIENTS.csv...
shuffling D_ICD_DIAGNOSES.csv...
shuffling ICUSTAYS.csv...
shuffling INPUTEVENTS_MV.csv...
shuffling D_ICD_PROCEDURES.csv...
========finished shuffling all data frames========

In [5]:
print("========lowercasing all columns across all frames========")
for dataframe in dataframes:
    print("lower casing columns for {}...".format(dataframe['name']))
    [x.lower() for x in dataframe['table'].columns]
print("========finished lowercasing all columns========")

========lowercasing all columns across all frames========
lower casing columns for PROCEDUREEVENTS_MV.csv...
lower casing columns for CALLOUT.csv...
lower casing columns for D_CPT.csv...
lower casing columns for D_ITEMS.csv...
lower casing columns for CAREGIVERS.csv...
lower casing columns for MICROBIOLOGYEVENTS.csv...
lower casing columns for ADMISSIONS.csv...
lower casing columns for PROCEDURES_ICD.csv...
lower casing columns for TRANSFERS.csv...
lower casing columns for DIAGNOSES_ICD.csv...
lower casing columns for SERVICES.csv...
lower casing columns for DRGCODES.csv...
lower casing columns for PATIENTS.csv...
lower casing columns for D_ICD_DIAGNOSES.csv...
lower casing columns for ICUSTAYS.csv...
lower casing columns for INPUTEVENTS_MV.csv...
lower casing columns for D_ICD_PROCEDURES.csv...
========finished lowercasing all columns========

In [6]:
unneededColumns = [
    "ROW_ID"
];

print("========Dropping ROW_ID column across all frames========")
print("TODO TODO TODO TODO")
print("========finished lowercasing all columns========")

========Dropping ROW_ID column across all frames========
TODO TODO TODO TODO
========finished lowercasing all columns========

In [7]:
for dataframe in dataframes:
    print("========{}========".format(dataframe['name']))
    dataframe['table'].info()
    print("========{}========".format(dataframe['name']))

========PROCEDUREEVENTS_MV.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258066 entries, 0 to 258065
Data columns (total 25 columns):
ROW_ID                        258066 non-null int64
SUBJECT_ID                    258066 non-null int64
HADM_ID                       258066 non-null int64
ICUSTAY_ID                    257978 non-null float64
STARTTIME                     258066 non-null object
ENDTIME                       258066 non-null object
ITEMID                        258066 non-null int64
VALUE                         258066 non-null float64
VALUEUOM                      258066 non-null object
LOCATION                      52612 non-null object
LOCATIONCATEGORY              52612 non-null object
STORETIME                     258066 non-null object
CGID                          258066 non-null int64
ORDERID                       258066 non-null int64
LINKORDERID                   258066 non-null int64
ORDERCATEGORYNAME             258066 non-null object
SECONDARYORDERCATEGORYNAME    0 non-null float64
ORDERCATEGORYDESCRIPTION      258066 non-null object
ISOPENBAG                     258066 non-null int64
CONTINUEINNEXTDEPT            258066 non-null int64
CANCELREASON                  258066 non-null int64
STATUSDESCRIPTION             258066 non-null object
COMMENTS_EDITEDBY             2093 non-null object
COMMENTS_CANCELEDBY           5689 non-null object
COMMENTS_DATE                 7782 non-null object
dtypes: float64(3), int64(10), object(12)
memory usage: 49.2+ MB
========PROCEDUREEVENTS_MV.csv========
========CALLOUT.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34499 entries, 0 to 34498
Data columns (total 24 columns):
ROW_ID                    34499 non-null int64
SUBJECT_ID                34499 non-null int64
HADM_ID                   34499 non-null int64
SUBMIT_WARDID             34498 non-null float64
SUBMIT_CAREUNIT           5122 non-null object
CURR_WARDID               34498 non-null float64
CURR_CAREUNIT             34498 non-null object
CALLOUT_WARDID            34499 non-null int64
CALLOUT_SERVICE           34499 non-null object
REQUEST_TELE              34499 non-null int64
REQUEST_RESP              34499 non-null int64
REQUEST_CDIFF             34499 non-null int64
REQUEST_MRSA              34499 non-null int64
REQUEST_VRE               34499 non-null int64
CALLOUT_STATUS            34499 non-null object
CALLOUT_OUTCOME           34499 non-null object
DISCHARGE_WARDID          29967 non-null float64
ACKNOWLEDGE_STATUS        34499 non-null object
CREATETIME                34499 non-null object
UPDATETIME                34499 non-null object
ACKNOWLEDGETIME           32707 non-null object
OUTCOMETIME               34499 non-null object
FIRSTRESERVATIONTIME      15260 non-null object
CURRENTRESERVATIONTIME    1164 non-null object
dtypes: float64(3), int64(9), object(12)
memory usage: 6.3+ MB
========CALLOUT.csv========
========D_CPT.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 9 columns):
ROW_ID                 134 non-null int64
CATEGORY               134 non-null int64
SECTIONRANGE           134 non-null object
SECTIONHEADER          134 non-null object
SUBSECTIONRANGE        134 non-null object
SUBSECTIONHEADER       134 non-null object
CODESUFFIX             11 non-null object
MINCODEINSUBSECTION    134 non-null int64
MAXCODEINSUBSECTION    134 non-null int64
dtypes: int64(4), object(5)
memory usage: 9.5+ KB
========D_CPT.csv========
========D_ITEMS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12487 entries, 0 to 12486
Data columns (total 10 columns):
ROW_ID          12487 non-null int64
ITEMID          12487 non-null int64
LABEL           12483 non-null object
ABBREVIATION    2992 non-null object
DBSOURCE        12487 non-null object
LINKSTO         12487 non-null object
CATEGORY        6049 non-null object
UNITNAME        1234 non-null object
PARAM_TYPE      2992 non-null object
CONCEPTID       0 non-null float64
dtypes: float64(1), int64(2), object(7)
memory usage: 975.6+ KB
========D_ITEMS.csv========
========CAREGIVERS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7567 entries, 0 to 7566
Data columns (total 4 columns):
ROW_ID         7567 non-null int64
CGID           7567 non-null int64
LABEL          7518 non-null object
DESCRIPTION    5155 non-null object
dtypes: int64(2), object(2)
memory usage: 236.5+ KB
========CAREGIVERS.csv========
========MICROBIOLOGYEVENTS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631726 entries, 0 to 631725
Data columns (total 16 columns):
ROW_ID                 631726 non-null int64
SUBJECT_ID             631726 non-null int64
HADM_ID                631726 non-null int64
CHARTDATE              631726 non-null object
CHARTTIME              589954 non-null object
SPEC_ITEMID            631647 non-null float64
SPEC_TYPE_DESC         631726 non-null object
ORG_ITEMID             326881 non-null float64
ORG_NAME               328016 non-null object
ISOLATE_NUM            328016 non-null float64
AB_ITEMID              275834 non-null float64
AB_NAME                275834 non-null object
DILUTION_TEXT          267350 non-null object
DILUTION_COMPARISON    267178 non-null object
DILUTION_VALUE         267178 non-null float64
INTERPRETATION         275834 non-null object
dtypes: float64(5), int64(3), object(8)
memory usage: 77.1+ MB
========MICROBIOLOGYEVENTS.csv========
========ADMISSIONS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58976 entries, 0 to 58975
Data columns (total 19 columns):
ROW_ID                  58976 non-null int64
SUBJECT_ID              58976 non-null int64
HADM_ID                 58976 non-null int64
ADMITTIME               58976 non-null object
DISCHTIME               58976 non-null object
DEATHTIME               5854 non-null object
ADMISSION_TYPE          58976 non-null object
ADMISSION_LOCATION      58976 non-null object
DISCHARGE_LOCATION      58976 non-null object
INSURANCE               58976 non-null object
LANGUAGE                33644 non-null object
RELIGION                58518 non-null object
MARITAL_STATUS          48848 non-null object
ETHNICITY               58976 non-null object
EDREGTIME               30877 non-null object
EDOUTTIME               30877 non-null object
DIAGNOSIS               58951 non-null object
HOSPITAL_EXPIRE_FLAG    58976 non-null int64
HAS_CHARTEVENTS_DATA    58976 non-null int64
dtypes: int64(5), object(14)
memory usage: 8.5+ MB
========ADMISSIONS.csv========
========PROCEDURES_ICD.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240095 entries, 0 to 240094
Data columns (total 5 columns):
ROW_ID        240095 non-null int64
SUBJECT_ID    240095 non-null int64
HADM_ID       240095 non-null int64
SEQ_NUM       240095 non-null int64
ICD9_CODE     240095 non-null int64
dtypes: int64(5)
memory usage: 9.2 MB
========PROCEDURES_ICD.csv========
========TRANSFERS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261897 entries, 0 to 261896
Data columns (total 13 columns):
ROW_ID           261897 non-null int64
SUBJECT_ID       261897 non-null int64
HADM_ID          261897 non-null int64
ICUSTAY_ID       87721 non-null float64
DBSOURCE         261656 non-null object
EVENTTYPE        261873 non-null object
PREV_CAREUNIT    96009 non-null object
CURR_CAREUNIT    96016 non-null object
PREV_WARDID      202964 non-null float64
CURR_WARDID      202954 non-null float64
INTIME           261873 non-null object
OUTTIME          202921 non-null object
LOS              202921 non-null float64
dtypes: float64(4), int64(3), object(6)
memory usage: 26.0+ MB
========TRANSFERS.csv========
========DIAGNOSES_ICD.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651047 entries, 0 to 651046
Data columns (total 5 columns):
ROW_ID        651047 non-null int64
SUBJECT_ID    651047 non-null int64
HADM_ID       651047 non-null int64
SEQ_NUM       651000 non-null float64
ICD9_CODE     651000 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 24.8+ MB
========DIAGNOSES_ICD.csv========
========SERVICES.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73343 entries, 0 to 73342
Data columns (total 6 columns):
ROW_ID          73343 non-null int64
SUBJECT_ID      73343 non-null int64
HADM_ID         73343 non-null int64
TRANSFERTIME    73343 non-null object
PREV_SERVICE    14668 non-null object
CURR_SERVICE    73343 non-null object
dtypes: int64(3), object(3)
memory usage: 3.4+ MB
========SERVICES.csv========
========DRGCODES.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125557 entries, 0 to 125556
Data columns (total 8 columns):
ROW_ID           125557 non-null int64
SUBJECT_ID       125557 non-null int64
HADM_ID          125557 non-null int64
DRG_TYPE         125557 non-null object
DRG_CODE         125557 non-null int64
DESCRIPTION      125494 non-null object
DRG_SEVERITY     66634 non-null float64
DRG_MORTALITY    66634 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.7+ MB
========DRGCODES.csv========
========PATIENTS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46520 entries, 0 to 46519
Data columns (total 8 columns):
ROW_ID         46520 non-null int64
SUBJECT_ID     46520 non-null int64
GENDER         46520 non-null object
DOB            46520 non-null object
DOD            15759 non-null object
DOD_HOSP       9974 non-null object
DOD_SSN        13378 non-null object
EXPIRE_FLAG    46520 non-null int64
dtypes: int64(3), object(5)
memory usage: 2.8+ MB
========PATIENTS.csv========
========D_ICD_DIAGNOSES.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14567 entries, 0 to 14566
Data columns (total 4 columns):
ROW_ID         14567 non-null int64
ICD9_CODE      14567 non-null object
SHORT_TITLE    14567 non-null object
LONG_TITLE     14567 non-null object
dtypes: int64(1), object(3)
memory usage: 455.3+ KB
========D_ICD_DIAGNOSES.csv========
========ICUSTAYS.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61532 entries, 0 to 61531
Data columns (total 12 columns):
ROW_ID            61532 non-null int64
SUBJECT_ID        61532 non-null int64
HADM_ID           61532 non-null int64
ICUSTAY_ID        61532 non-null int64
DBSOURCE          61532 non-null object
FIRST_CAREUNIT    61532 non-null object
LAST_CAREUNIT     61532 non-null object
FIRST_WARDID      61532 non-null int64
LAST_WARDID       61532 non-null int64
INTIME            61532 non-null object
OUTTIME           61522 non-null object
LOS               61522 non-null float64
dtypes: float64(1), int64(6), object(5)
memory usage: 5.6+ MB
========ICUSTAYS.csv========
========INPUTEVENTS_MV.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3618991 entries, 0 to 3618990
Data columns (total 31 columns):
ROW_ID                           int64
SUBJECT_ID                       int64
HADM_ID                          int64
ICUSTAY_ID                       float64
STARTTIME                        object
ENDTIME                          object
ITEMID                           int64
AMOUNT                           float64
AMOUNTUOM                        object
RATE                             float64
RATEUOM                          object
STORETIME                        object
CGID                             int64
ORDERID                          int64
LINKORDERID                      int64
ORDERCATEGORYNAME                object
SECONDARYORDERCATEGORYNAME       object
ORDERCOMPONENTTYPEDESCRIPTION    object
ORDERCATEGORYDESCRIPTION         object
PATIENTWEIGHT                    float64
TOTALAMOUNT                      float64
TOTALAMOUNTUOM                   object
ISOPENBAG                        int64
CONTINUEINNEXTDEPT               int64
CANCELREASON                     int64
STATUSDESCRIPTION                object
COMMENTS_EDITEDBY                object
COMMENTS_CANCELEDBY              object
COMMENTS_DATE                    object
ORIGINALAMOUNT                   float64
ORIGINALRATE                     float64
dtypes: float64(7), int64(10), object(14)
memory usage: 855.9+ MB
========INPUTEVENTS_MV.csv========
========D_ICD_PROCEDURES.csv========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3882 entries, 0 to 3881
Data columns (total 4 columns):
ROW_ID         3882 non-null int64
ICD9_CODE      3882 non-null int64
SHORT_TITLE    3882 non-null object
LONG_TITLE     3882 non-null object
dtypes: int64(2), object(2)
memory usage: 121.4+ KB
========D_ICD_PROCEDURES.csv========

In [55]:
print("========Creating Master Table========")
masterTable = pd.DataFrame(columns=['subject_id', 'los'])
tableToMerge = dataframes[0]["table"]
tableToMerge.info()
print(tableToMerge.describe())

pd.merge(masterTable, tableToMerge, on='subject_id', how='outer')

# tablesWithSubjectId = set([
#     "PROCEDUREEVENTS_MV.csv",
#     "CALLOUT.csv",
#     "MICROBIOLOGYEVENTS.csv",
#     "ADMISSIONS.csv",
#     "PROCEDURES_ICD.csv",
#     "TRANSFERS.csv",
#     "DIAGNOSES_ICD.csv",
#     "SERVICES.csv",
#     "DRGCODES.csv",
#     "PATIENTS.csv",
#     "ICUSTAYS.csv",
#     "INPUTEVENTS_MV.csv"
# ]);

# print(masterTable.describe())
# print("========Merging Tables to MasterTable on SUBJECT_ID========")
# masterTable["subject_id"].astype(str)
# for dataframe in dataframes:
#     if dataframe['name'] in tablesWithSubjectId:
#         dataframe["table"]["subject_id"].astype(str)
#         print("merging {} to masterTable on subject_id...".format(dataframe['name']))
#         pd.merge(masterTable, dataframe["table"], on='subject_id', how='outer')
# print("========Finished Merging Tables to MasterTable on SUBJECT_ID========")
# print(masterTable.describe())

========Creating Master Table========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258066 entries, 0 to 258065
Data columns (total 25 columns):
ROW_ID                        258066 non-null int64
SUBJECT_ID                    258066 non-null int64
HADM_ID                       258066 non-null int64
ICUSTAY_ID                    257978 non-null float64
STARTTIME                     258066 non-null object
ENDTIME                       258066 non-null object
ITEMID                        258066 non-null int64
VALUE                         258066 non-null float64
VALUEUOM                      258066 non-null object
LOCATION                      52612 non-null object
LOCATIONCATEGORY              52612 non-null object
STORETIME                     258066 non-null object
CGID                          258066 non-null int64
ORDERID                       258066 non-null int64
LINKORDERID                   258066 non-null int64
ORDERCATEGORYNAME             258066 non-null object
SECONDARYORDERCATEGORYNAME    0 non-null float64
ORDERCATEGORYDESCRIPTION      258066 non-null object
ISOPENBAG                     258066 non-null int64
CONTINUEINNEXTDEPT            258066 non-null int64
CANCELREASON                  258066 non-null int64
STATUSDESCRIPTION             258066 non-null object
COMMENTS_EDITEDBY             2093 non-null object
COMMENTS_CANCELEDBY           5689 non-null object
COMMENTS_DATE                 7782 non-null object
dtypes: float64(3), int64(10), object(12)
memory usage: 49.2+ MB
              ROW_ID     SUBJECT_ID        HADM_ID     ICUSTAY_ID  \
count  258066.000000  258066.000000  258066.000000  257978.000000
mean   129033.500000   63487.969481  150012.655476  250158.925653
std     74497.381622   23327.718654   28774.351064   28826.078155
min         1.000000      23.000000  100001.000000  200001.000000
25%     64517.250000   48629.000000  125246.000000  225042.000000
50%    129033.500000   65130.000000  150082.000000  250564.000000
75%    193549.750000   82292.500000  175127.000000  275083.000000
max    258066.000000   99999.000000  199999.000000  299998.000000

              ITEMID          VALUE           CGID       ORDERID  \
count  258066.000000  258066.000000  258066.000000  2.580660e+05
mean   224956.842990    1328.274612   17968.021816  5.004674e+06
std      1386.670516    3124.439414    2400.527525  2.893674e+06
min    221214.000000     -29.000000   14021.000000  3.000000e+00
25%    224275.000000       1.000000   15674.000000  2.489945e+06
50%    225402.000000       1.000000   17790.000000  5.003696e+06
75%    225469.000000    1480.000000   20803.000000  7.518782e+06
max    228286.000000  135267.000000   21545.000000  9.999963e+06

        LINKORDERID  SECONDARYORDERCATEGORYNAME      ISOPENBAG  \
count  2.580660e+05                         0.0  258066.000000
mean   5.004411e+06                         NaN       0.414220
std    2.893666e+06                         NaN       0.492588
min    3.000000e+00                         NaN       0.000000
25%    2.489945e+06                         NaN       0.000000
50%    5.003112e+06                         NaN       0.000000
75%    7.518460e+06                         NaN       1.000000
max    9.999963e+06                         NaN       1.000000

       CONTINUEINNEXTDEPT   CANCELREASON
count       258066.000000  258066.000000
mean             0.000240       0.038265
std              0.015498       0.230265
min              0.000000       0.000000
25%              0.000000       0.000000
50%              0.000000       0.000000
75%              0.000000       0.000000
max              1.000000       2.000000

KeyError: 'subject_id'

In [ ]:

# join 
#   ICUSTAYS.csv, 
#   INPUTEVENTS_MV.csv, 
#   PROCEDUREEVENTS_MV.csv, 
#   TRANSFERS.csv
# on ICUSTAY_ID


# join
#   PROCEDUREEVENTS_MV.csv,
#   CALLOUT.csv,
#   MICROBIOLOGYEVENTS.csv,
#   ADMISSIONS.csv,
#   PROCEDURES_ICD.csv,
#   TRANSFERS.csv,
#   DIAGNOSES_ICD.csv,
#   SERVICES.csv,
#   DRGCODES.csv,
#   PATIENTS.csv,
#   ICUSTAYS.csv,
#   INPUTEVENTS_MV.csv
# on 
#   SUBJECT_ID


# join
#   PROCEDUREEVENTS_MV.csv,
#   CALLOUT.csv,
#   MICROBIOLOGYEVENTS.csv,
#   ADMISSIONS.csv,
#   PROCEDURES_ICD.csv,
#   TRANSFERS.csv,
#   DIAGNOSES_ICD.csv,
#   SERVICES.csv,
#   DRGCODES.csv,
#   ICUSTAYS.csv,
#   INPUTEVENTS_MV.csv
# on
#   HADM_ID

## Examine datasets

In [12]:
dataLos.sample(n=20)

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
44001,42721,44255,154621,292075,metavision,CCU,MICU,7,23,2145-09-27 16:12:30,2145-10-10 14:11:50,12.9162
31625,28972,22883,130357,218726,carevue,CCU,CSRU,57,14,2122-01-20 16:32:11,2122-01-26 12:18:47,5.8240
46282,49605,64277,161558,218555,metavision,SICU,SICU,57,57,2187-08-29 09:37:28,2187-09-02 18:28:36,4.3688
42452,42067,42196,153929,272535,metavision,TSICU,TSICU,14,14,2170-04-24 18:09:56,2170-04-28 21:42:44,4.1478
47151,44003,47993,198686,214358,metavision,CCU,CCU,7,7,2152-04-01 22:39:44,2152-04-03 16:59:39,1.7638
14292,16285,12799,119643,298775,carevue,MICU,CCU,52,7,2199-01-04 22:26:16,2199-01-17 13:57:54,12.6470
43332,43056,45213,197986,233074,metavision,CCU,CCU,7,7,2106-02-03 15:27:17,2106-02-05 18:17:30,2.1182
1601,2137,1690,124967,248919,carevue,NICU,NICU,56,56,2191-07-24 16:47:32,2191-11-15 14:47:32,113.9167
26649,28677,22655,181972,246298,carevue,CSRU,CSRU,14,14,2165-08-20 10:48:42,2165-08-23 10:22:16,2.9816
5446,5875,4644,148758,223853,carevue,MICU,MICU,50,50,2133-03-24 01:37:55,2133-03-31 12:51:50,7.4680
36756,37937,29964,189265,224286,carevue,SICU,SICU,33,33,2189-01-03 03:27:14,2189-01-03 15:22:59,0.4970
33038,39715,31441,145118,249822,carevue,CSRU,CSRU,15,15,2121-07-09 23:23:40,2121-07-11 20:35:31,1.8832
19947,22402,17659,147333,284880,carevue,MICU,MICU,52,52,2200-12-30 17:20:48,2201-01-03 20:00:29,4.1109
36058,34058,26861,115381,249910,metavision,MICU,MICU,52,52,2109-08-08 23:20:21,2109-08-18 20:54:46,9.8989
15407,17912,14098,124288,293991,metavision,CCU,MICU,7,23,2193-10-27 09:37:58,2193-10-31 11:22:12,4.0724
40087,40972,32503,152105,299231,carevue,TSICU,TSICU,14,14,2181-07-24 15:02:06,2181-08-06 04:58:43,12.5810
40577,40410,32055,196987,240490,carevue,NICU,NICU,56,56,2108-02-19 17:31:15,2108-05-15 17:51:36,86.0141
61037,60262,96260,146313,260969,metavision,MICU,MICU,23,23,2194-12-12 16:36:23,2194-12-20 16:18:25,7.9875
10576,8019,6296,107183,217583,carevue,CCU,CCU,7,7,2113-05-20 23:41:54,2113-05-21 14:39:59,0.6237
19615,23875,18847,102371,214867,carevue,CCU,CCU,57,57,2171-01-07 17:23:00,2171-01-11 10:46:00,3.7243

In [13]:
dataAdm.sample(n=20)

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
29190,29152,23849,102435,2188-06-10 11:45:00,2188-06-17 13:20:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT/SDA,0,1
12348,12325,10075,153175,2184-10-04 07:15:00,2184-10-11 14:50:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,AORTIC STENOSIS\BENTAL PROCEDURE /SDA,0,1
13957,12244,9994,138309,2167-08-03 07:15:00,2167-08-08 18:02:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
20561,19000,15560,192863,2112-12-12 16:51:00,2112-12-21 11:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,JEWISH,MARRIED,WHITE,2112-12-12 11:52:00,2112-12-12 17:44:00,RULE-OUT MYOCARDIAL INFARCTION;TELEMETRY,0,1
54375,53459,82494,146806,2109-10-17 02:40:00,2109-11-01 16:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,BLACK/AFRICAN AMERICAN,2109-10-16 18:35:00,2109-10-17 03:27:00,POLYTRAUMA,0,1
44753,44622,55027,199296,2115-02-25 14:00:00,2115-03-02 18:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,NaN,NaN,AORTIC STENOSIS\? CORONARY ARTERY BYPASS GRAFT...,0,1
39617,38157,31369,170740,2176-08-25 15:04:00,2176-09-07 14:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2176-08-25 12:47:00,2176-08-25 16:33:00,UPPER GI BLEED,0,1
36019,35220,28863,140125,2131-11-03 17:58:00,2131-11-04 12:50:00,2131-11-04 12:50:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,UNABLE TO OBTAIN,NaN,NaN,MYOCARDIAL INFARCTION,1,1
47816,46848,61855,189040,2104-02-28 17:17:00,2104-03-05 21:40:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2104-02-28 14:52:00,2104-02-28 18:15:00,SUBARACHNOID HEMORRHAGE,0,1
15911,15871,12947,193885,2190-08-27 11:54:00,2190-08-30 19:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,NaN,MARRIED,UNKNOWN/NOT SPECIFIED,NaN,NaN,"DYSPNEA, CAD\CATH",0,1
19580,15690,12798,180835,2190-03-15 14:01:00,2190-03-23 14:46:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,JEWISH,MARRIED,WHITE,NaN,NaN,CONGESTIVE HEART FAILURE\RIGHT HEART CATH,0,1
52870,51259,75817,157334,2185-06-12 16:44:00,2185-07-29 16:40:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,ENGL,CATHOLIC,SINGLE,WHITE,2185-06-12 14:37:00,2185-06-12 18:58:00,SEIZURE,0,1
32283,32363,26451,113493,2116-08-10 21:05:00,2116-08-19 12:21:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,JEWISH,MARRIED,WHITE,2116-08-10 18:51:00,2116-08-10 21:06:00,DIVERTICULITIS,0,1
16042,15041,12240,124994,2134-09-22 22:52:00,2134-09-28 04:13:00,2134-09-28 04:13:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,NaN,NaN,UNKNOWN/NOT SPECIFIED,2134-09-22 16:41:00,2134-09-23 01:52:00,GASTROINTESTINAL BLEED,1,1
15796,14867,12093,165335,2115-04-27 18:33:00,2115-05-07 02:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,NOT SPECIFIED,SINGLE,WHITE,2115-04-27 16:26:00,2115-04-27 20:30:00,UPPER GI BLEED,0,1
14852,17901,14625,107638,2182-09-24 17:32:00,2182-09-25 14:19:00,2182-09-25 14:19:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,NOT SPECIFIED,WIDOWED,UNKNOWN/NOT SPECIFIED,NaN,NaN,MYOCARDIAL INFARCTION\CATH,1,1
48677,49849,71200,147685,2113-08-16 16:02:00,2113-08-18 13:00:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOSPICE-HOME,Medicaid,ENGL,NOT SPECIFIED,MARRIED,WHITE,2113-08-16 12:23:00,2113-08-16 18:56:00,IVC OBSTRUCTION,0,1
39354,40998,43909,167612,2152-10-09 19:05:00,2152-10-09 22:33:00,2152-10-09 22:33:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,RUSS,UNOBTAINABLE,NaN,WHITE,2152-10-09 17:00:00,2152-10-09 19:54:00,PNEUMONIA;TELEMETRY,1,1
25967,27146,22237,130173,2106-03-10 00:00:00,2106-03-17 17:05:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,NaN,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,ASD\REPAIR ATRIAL-SEPTAL DEFECT; LIMITED ACCESS,0,1
6737,5186,4283,188252,2196-04-06 18:29:00,2196-04-08 12:35:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,OTHER,NaN,NaN,NEWBORN,0,1

In [14]:
dataPat.sample(n=20)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
28312,31705,43561,F,2079-04-20 00:00:00,NaN,NaN,NaN,0
1667,1723,1823,F,2100-12-13 00:00:00,NaN,NaN,NaN,0
29323,22142,23453,F,2184-07-20 00:00:00,NaN,NaN,NaN,0
10865,11655,12312,M,2094-03-21 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,1
34324,27273,28955,F,2122-10-13 00:00:00,NaN,NaN,NaN,0
34100,36464,61355,F,2130-12-06 00:00:00,NaN,NaN,NaN,0
25077,26139,27713,M,2114-11-12 00:00:00,NaN,NaN,NaN,0
20625,15425,16314,M,2137-09-02 00:00:00,NaN,NaN,NaN,0
30168,32782,47618,F,2080-04-15 00:00:00,NaN,NaN,NaN,0
34348,27297,28981,F,2106-11-11 00:00:00,NaN,NaN,NaN,0
2092,1470,1552,F,2144-11-02 00:00:00,NaN,NaN,NaN,0
38494,46234,98899,M,2095-07-22 00:00:00,NaN,NaN,NaN,0
25483,31466,42555,F,2130-06-18 00:00:00,NaN,NaN,NaN,0
34869,33116,48857,M,2061-04-28 00:00:00,NaN,NaN,NaN,0
45206,29872,31813,M,2060-03-14 00:00:00,NaN,NaN,NaN,0
27516,32956,48237,F,2109-10-19 00:00:00,NaN,NaN,NaN,0
27130,31853,44154,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1
7651,8240,8713,M,2184-09-02 00:00:00,NaN,NaN,NaN,0
8260,7443,7869,M,2181-07-06 00:00:00,NaN,NaN,NaN,0
37117,45921,97672,M,2160-01-17 00:00:00,NaN,NaN,NaN,0

In [15]:
## Analyze Call out data

In [16]:
#if os.name == "posix":
dataCallOUT = pd.read_csv("C:\mimic3\CALLOUT.csv")
dataCallOUT = shuffle(dataCallOUT)
dataCallOUT.columns = [x.lower() for x in dataCallOUT.columns]
print("========CallOUT=========")
dataCallOUT.info()
print("=========================")
print()
print("========Sample=========")
dataCallOUT.sample(n=20)

========CallOUT=========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34499 entries, 17011 to 25090
Data columns (total 24 columns):
row_id                    34499 non-null int64
subject_id                34499 non-null int64
hadm_id                   34499 non-null int64
submit_wardid             34498 non-null float64
submit_careunit           5122 non-null object
curr_wardid               34498 non-null float64
curr_careunit             34498 non-null object
callout_wardid            34499 non-null int64
callout_service           34499 non-null object
request_tele              34499 non-null int64
request_resp              34499 non-null int64
request_cdiff             34499 non-null int64
request_mrsa              34499 non-null int64
request_vre               34499 non-null int64
callout_status            34499 non-null object
callout_outcome           34499 non-null object
discharge_wardid          29967 non-null float64
acknowledge_status        34499 non-null object
createtime                34499 non-null object
updatetime                34499 non-null object
acknowledgetime           32707 non-null object
outcometime               34499 non-null object
firstreservationtime      15260 non-null object
currentreservationtime    1164 non-null object
dtypes: float64(3), int64(9), object(12)
memory usage: 6.6+ MB
=========================

========Sample=========

,row_id,subject_id,hadm_id,submit_wardid,submit_careunit,curr_wardid,curr_careunit,callout_wardid,callout_service,request_tele,...,callout_status,callout_outcome,discharge_wardid,acknowledge_status,createtime,updatetime,acknowledgetime,outcometime,firstreservationtime,currentreservationtime
1300,1485,3866,162324,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2135-01-26 10:33:55,2135-01-26 10:33:55,2135-01-26 10:39:08,2135-01-26 21:10:04,NaN,NaN
21172,22507,60947,181779,52.0,NaN,29.0,MICU,1,SURG,1,...,Inactive,Discharged,29.0,Acknowledged,2158-04-08 09:29:41,2158-04-08 13:36:02,2158-04-08 13:40:20,2158-04-08 20:40:08,2158-04-08 13:10:11,NaN
31585,30287,86276,149638,52.0,NaN,24.0,MICU,1,MED,0,...,Inactive,Discharged,24.0,Acknowledged,2174-10-12 13:51:04,2174-10-12 17:33:26,2174-10-12 17:33:28,2174-10-12 21:58:56,2174-10-12 20:29:15,NaN
16237,17627,45767,157789,52.0,NaN,48.0,MICU,48,OMED,1,...,Inactive,Discharged,48.0,Acknowledged,2110-07-22 11:44:02,2110-07-22 20:01:59,2110-07-22 21:03:19,2110-07-24 00:44:09,NaN,NaN
20455,21461,57715,178632,14.0,NaN,40.0,TSICU,40,TRAUM,1,...,Inactive,Discharged,40.0,Acknowledged,2110-02-21 10:34:58,2110-02-21 10:34:58,2110-02-21 10:50:00,2110-02-21 17:25:25,2110-02-21 11:55:27,NaN
9452,7410,19236,121214,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2144-04-02 12:12:16,2144-04-02 12:12:16,2144-04-03 04:53:37,2144-04-03 17:10:02,NaN,NaN
12514,11721,28152,135885,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2165-11-25 12:32:07,2165-11-25 15:03:36,2165-11-25 15:15:51,2165-11-25 20:40:41,2165-11-25 18:41:20,NaN
10513,8688,22590,172396,14.0,TSICU,14.0,TSICU,1,TRAUM,1,...,Inactive,Cancelled,NaN,Acknowledged,2178-12-27 08:59:14,2178-12-27 17:33:57,2178-12-27 12:23:47,2178-12-27 17:33:57,NaN,NaN
10669,8921,23201,131913,15.0,NaN,17.0,CSRU,17,CMED,1,...,Inactive,Discharged,17.0,Acknowledged,2181-10-06 15:19:06,2181-10-06 15:30:29,2181-10-06 15:34:47,2181-10-06 20:10:03,NaN,NaN
11667,15028,31858,188159,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2185-10-21 11:24:58,2185-10-21 11:26:16,2185-10-21 11:55:58,2185-10-22 23:40:03,NaN,NaN
31057,31389,90067,144423,14.0,TSICU,14.0,TSICU,40,TRAUM,0,...,Inactive,Cancelled,NaN,Acknowledged,2155-10-07 10:19:34,2155-10-07 11:28:38,2155-10-07 10:27:34,2155-10-07 11:28:38,NaN,NaN
14084,13225,29728,179225,7.0,NaN,2.0,CCU,1,CMED,1,...,Inactive,Discharged,2.0,Revised,2173-09-17 09:07:29,2173-09-17 17:20:39,NaN,2173-09-17 21:55:02,NaN,NaN
10158,11085,27498,123136,14.0,NaN,3.0,TSICU,3,NSURG,0,...,Inactive,Discharged,3.0,Acknowledged,2173-07-12 14:49:27,2173-07-13 08:42:21,2173-07-13 09:17:35,2173-07-13 18:40:03,NaN,NaN
8756,7355,19078,194050,23.0,NaN,2.0,MICU,1,CCU,1,...,Inactive,Discharged,2.0,Acknowledged,2114-12-06 13:25:19,2114-12-06 13:25:19,2114-12-06 14:06:58,2114-12-06 20:25:05,NaN,NaN
7646,8278,21522,187500,57.0,SICU,57.0,SICU,1,SURG,1,...,Inactive,Cancelled,NaN,Unacknowledged,2197-04-15 12:18:51,2197-04-15 12:43:30,NaN,2197-04-15 12:43:30,NaN,NaN
4238,4703,12011,130378,52.0,MICU,52.0,MICU,1,GU,0,...,Inactive,Cancelled,NaN,Revised,2173-03-10 12:45:38,2173-03-10 17:40:18,NaN,2173-03-10 17:40:18,NaN,NaN
18171,17091,44083,131048,7.0,CCU,7.0,CCU,17,CCU,1,...,Inactive,Cancelled,NaN,Acknowledged,2112-05-24 16:27:05,2112-05-24 18:45:28,2112-05-24 17:42:04,2112-05-24 18:45:28,2112-05-24 17:55:07,2112-05-24 17:55:07
9100,8358,21745,115254,23.0,NaN,4.0,MICU,1,MED,0,...,Inactive,Discharged,4.0,Acknowledged,2114-06-02 10:44:43,2114-06-02 10:44:43,2114-06-02 14:49:28,2114-06-02 18:40:01,NaN,NaN
8959,7375,19129,135835,12.0,CSRU,12.0,CSRU,55,CSURG,1,...,Inactive,Cancelled,NaN,Acknowledged,2193-03-10 10:34:11,2193-03-10 23:51:46,2193-03-10 10:38:37,2193-03-10 23:51:46,NaN,NaN
22589,23066,62811,146984,14.0,NaN,40.0,TSICU,40,TRAUM,0,...,Inactive,Discharged,40.0,Acknowledged,2166-03-28 11:01:26,2166-03-28 11:01:26,2166-03-28 11:39:14,2166-03-28 12:55:09,2166-03-28 11:10:08,NaN

In [17]:
## concatinate tables

In [27]:
# dataCallOUT.subject_id.duplicated().sum()
# patient id and adm id to callout is one to many 

#outcome_only = dataCallOUT[dataCallOUT['callout_outcome']==1]

#g = outcome_only.groupby(['callout_service']).size().reset_index(name='callout_service_counts')
#g['service_counts'] = data.groupby(['callout_service']).size().reset_index(name='service_counts')['service_counts']
#g['service_percent'] = g.apply(lambda row: row.callout_service_counts / row.service_counts * 100, axis=1)
#g = g.drop(columns=['callout_service_counts','service_counts'])
#g.iloc[0, g.columns.get_loc('callout_service')] = 'Female'
#g.iloc[1, g.columns.get_loc('callout_service')] = 'Male'
#g = g.set_index('gender')
#g.plot.bar(subplots=True, legend=None, ax=axes[0,0], rot=0, fontsize=12)

## Test and Training sets

## Conclusion
#### From the the following tables (ADMISSIONS, ICUSTAYS, PATIENTS) this data concludes that the following columns are the most useful in determining the length of stay of the patient.