<h1><center>Project 2 LOS</h1>
<h2><center>Pre-Processing</h2>
<h4><center>TCSS 555<br>
Spring 2018<br>
by: Thuan Lam, Tood Robbins, Inno Estrera</h4></center>

<h2>Libraries</h2>

In [3]:
# Load libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.utils import shuffle
from dateutil.parser import parse
from datetime import datetime

from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

## Load Model Datasets
<h1>Data set descriptions</h1>
<h3>https://mimic.physionet.org/mimictables/admissions/</h3>

In [4]:
import os 
cwd = os.getcwd()
print('Current folder is {}'.format(cwd))

Current folder is C:\Users\toddr\OneDrive\Desktop\Project-2-Length-Of-Stay\phase 1

In [8]:
# load data sets

#Note: the data location will need to be updated based on your mimic3 file location
if os.name == "posix":
    CSV = []
    unreadable = set([
        "LABEVENTS.csv",
        "INPUTEVENTS_CV.csv",
        "DATETIMEEVENTS.csv",
        "PRESCRIPTIONS.csv",
        "NOTEVENTS.csv",
        "OUTPUTEVENTS.csv",
        "CHARTEVENTS.csv",
        "D_LABITEMS.csv",
        "CPTEVENTS.csv"
    ])
    for dirpath, dirnames, filenames in os.walk('/Users/innoestrera/Desktop/mimic3'):
        dataSets = filenames
    for fileName in dataSets:
        if fileName != ".DS_Store" and fileName not in unreadable:
            csv = "~/Desktop/mimic3/{}".format(fileName);
            print("Reading {}".format(csv))
            CSV.append(pd.read_csv(csv))
    print("finished loading all data")
else:
    # Top Data
    dataLos = pd.read_csv("C:\mimic3\ICUSTAYS.csv") # contains field we are trying to predict
    dataAdm = pd.read_csv("C:\mimic3\ADMISSIONS.csv") # Number of admissions
    dataPat = pd.read_csv("C:\mimic3\PATIENTS.csv") # Number of patients admitted 
#    dataCallOUT = pd.read_csv("C:\mimic3\CALLOUT.csv")
#    dataCareGiver = pd.read_csv("C:\mimic3\CAREGIVERS.csv")
#    dataChartEvents = pd.read_csv("C:\mimic3\CHARTEVENTS.csv")
#    dataCPTEvents = pd.read_csv("C:\mimic3\CPTEVENTS.csv")
#    dataCPT = pd.read_csv("C:\mimic3\D_CPT.csv")
#    dataICD_Diagnoses = pd.read_csv("C:\mimic3\D_ICD_DIAGNOSES.csv")
#    dataICD_Procedures = pd.read_csv("C:\mimic3\D_ICD_PROCEDURES.csv")
#    dataItems = pd.read_csv("C:\mimic3\D_ITEMS.csv")
#    dataLabelItems = pd.read_csv("C:\mimic3\D_LABITEMS.csv")
#    dataDateTimeEvents = pd.read_csv("C:\mimic3\DATETIMEEVENTS.csv")
#    dataDiagnosis_ICD = pd.read_csv("C:\mimic3\DIAGNOSES_ICD.csv")
#    dataDrugCodes = pd.read_csv("C:\mimic3\DRGCODES.csv")
#    dataCareVueInput = pd.read_csv("C:\mimic3\INPUTEVENTS_CV.csv")
#    dataMetavisionInput = pd.read_csv("C:\mimic3\INPUTEVENTS_MV.csv")
#    dataLabEvents = pd.read_csv("C:\mimic3\LABEVENTS.csv")
#    dataMBEvents = pd.read_csv("C:\mimic3\MICROBIOLOGYEVENTS.csv")
#    dataNotes = pd.read_csv("C:\mimic3\\NOTEEVENTS.csv") # duplicate backlash to avoid unicode command.
#    dataOutputEvents = pd.read_csv("C:\mimic3\OUTPUTEVENTS.csv")
#    dataPrescriptions = pd.read_csv("C:\mimic3\PRESCRIPTIONS.csv")
#    dataProceduresDone = pd.read_csv("C:\mimic3\PROCEDUREEVENTS_MV.csv")
#    dataProceduresCost = pd.read_csv("C:\mimic3\PROCEDURES_ICD.csv")
#    dataServices = pd.read_csv("C:\mimic3\SERVICES.csv")
#    dataTransfers = pd.read_csv("C:\mimic3\TRANSFERS.csv")
    print("done")

done

In [9]:
# shuffle data sets
dataLos = shuffle(dataLos)
dataAdm = shuffle(dataAdm)
dataPat = shuffle(dataPat)

#dataCallOUT = shuffle(dataCallOUT)
#dataCareGiver = shuffle(dataCareGiver)
#dataChartEvents = shuffle(dataChartEvents)
#dataCPTEvents = shuffle(dataCPTEvents)
#dataCPT = shuffle(dataCPT)
#dataICD_Diagnoses = shuffle(dataICD_Diagnoses)
#dataICD_Procedures = shuffle(dataICD_Procedures)
#dataItems = shuffle(dataItems)
#dataLabelItems = shuffle(dataLabelItems)
#dataDateTimeEvents = shuffle(dataDateTimeEvents)
#dataDiagnosis_ICD = shuffle(dataDiagnosis_ICD)
#dataDrugCodes = shuffle(dataDrugCodes)
#dataCareVueInput = shuffle(dataCareVueInput)
#dataMetavisionInput = shuffle(dataMetavisionInput)
#dataLabEvents = shuffle(dataLabEvents)
#dataMBEvents = shuffle(dataMBEvents)
#dataNotes = shuffle(dataNotes)
#dataOutputEvents = shuffle(dataOutputEvents)
#dataPrescriptions = shuffle(dataPrescriptions)
#dataProceduresDone = shuffle(dataProceduresDone)
#dataProceduresCost = shuffle(dataProceduresCost)
#dataServices = shuffle(dataServices)
#dataTransfers = shuffle(dataTransfers)
print("shuffle")

shuffle

In [10]:
# lower case all columns 
dataLos.columns = [x.lower() for x in dataLos.columns]
dataAdm.columns = [x.lower() for x in dataAdm.columns]
dataPat.columns = [x.lower() for x in dataPat.columns]

#dataCallOUT.columns = [x.lower() for x in dataCallOUT.columns]
#dataCareGiver.columns = [x.lower() for x in dataCareGiver.columns]
#dataChartEvents.columns = [x.lower() for x in dataChartEvents.columns]
#dataCPTEvents.columns = [x.lower() for x in dataCPTEvents.columns]
#dataCPT.columns = [x.lower() for x in dataCPT.columns]
#dataICD_Diagnoses.columns = [x.lower() for x in dataICD_Diagnoses.columns]
#dataICD_Procedures.columns = [x.lower() for x in dataICD_Procedures.columns]
#dataItems.columns = [x.lower() for x in dataItems.columns]
#dataLabelItems.columns = [x.lower() for x in dataLabelItems.columns]
#dataDateTimeEvents.columns = [x.lower() for x in dataDateTimeEvents.columns]
#dataDiagnosis_ICD.columns = [x.lower() for x in dataDiagnosis_ICD.columns]
#dataDrugCodes.columns = [x.lower() for x in dataDrugCodes.columns]
#dataCareVueInput.columns = [x.lower() for x in dataCareVueInput.columns]
#dataMetavisionInput.columns = [x.lower() for x in dataMetavisionInput.columns]
#dataLabEvents.columns = [x.lower() for x in dataLabEvents.columns]
#dataMBEvents.columns = [x.lower() for x in dataMBEvents.columns]
#dataNotes.columns = [x.lower() for x in dataNotes.columns]
#dataOutputEvents.columns = [x.lower() for x in dataOutputEvents.columns]
#dataPrescriptions.columns = [x.lower() for x in dataPrescriptions.columns]
#dataProceduresDone.columns = [x.lower() for x in dataProceduresDone.columns]
#dataProceduresCost.columns = [x.lower() for x in dataProceduresCost.columns]
#dataServices.columns = [x.lower() for x in dataServices.columns]
#dataTransfers.columns = [x.lower() for x in dataTransfers.columns]

In [11]:
# print table information
print("========ICU STAYS========")
dataLos.info()
print("=========================")
print()
print("========ADMISSIONS=======")
dataAdm.info()
print("=========================")
print()
print("========PATIENTS=========")
dataPat.info()
print("=========================")
print()
#print("========CallOUT=========")
#dataCallOUT.info()
#print("=========================")
#print()
#print("========CareGiver=========")
#dataCareGiver.info()
#print("=========================")
#print()
#print("========ChartEvents=========")
#dataChartEvents.info()
#print("=========================")
#print()
#print("========CPTEvents=========")
#dataCPTEvents.info()
#print("=========================")
#print()
#print("========CPT=========")
#dataCPT.info()
#print("=========================")
#print()
#print("========ICD_Diagnoses=========")
#dataICD_Diagnoses.info()
#print("=========================")
#print()
#print("========ICD_Procedures=========")
#dataICD_Procedures.info()
#print("=========================")
#print()
#print("========Items=========")
#dataItems.info()
#print("=========================")
#print()
#print("========LabelItems=========")
#dataLabelItems.info()
#print("=========================")
#print()
#print("========DateTimeEvents=========")
#dataDateTimeEvents.info()
#print("=========================")
#print()
#print("========Diagnosis_ICD=========")
#dataDiagnosis_ICD.info()
#print("=========================")
#print()
#print("========DrugCodes=========")
#dataDrugCodes.info()
#print("=========================")
#print()
#print("========CareVueInput=========")
#dataCareVueInput.info()
#print("=========================")
#print()
#print("========MetavisionInput=========")
#dataMetavisionInput.info()
#print("=========================")
#print()
#print("========LabEvents=========")
#dataLabEvents.info()
#print("=========================")
#print()
#print("========MBEvents=========")
#dataMBEvents.info()
#print("=========================")
#print()
#print("========Notes=========")
#dataNotes.info()
#print("=========================")
#print()
#print("========OutputEvents=========")
#dataOutputEvents.info()
#print("=========================")
#print()
#print("========Prescriptions=========")
#dataPrescriptions.info()
#print("=========================")
#print()
#print("========ProceduresDone=========")
#dataProceduresDone.info()
#print("=========================")
#print()
#print("========ProceduresCost=========")
#dataProceduresCost.info()
#print("=========================")
#print()
#print("========Services=========")
#dataServices.info()
#print("=========================")
#print()
#print("========Transfers=========")
#dataTransfers.info()
#print("=========================")

========ICU STAYS========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 61532 entries, 3193 to 1510
Data columns (total 12 columns):
row_id            61532 non-null int64
subject_id        61532 non-null int64
hadm_id           61532 non-null int64
icustay_id        61532 non-null int64
dbsource          61532 non-null object
first_careunit    61532 non-null object
last_careunit     61532 non-null object
first_wardid      61532 non-null int64
last_wardid       61532 non-null int64
intime            61532 non-null object
outtime           61522 non-null object
los               61522 non-null float64
dtypes: float64(1), int64(6), object(5)
memory usage: 6.1+ MB
=========================

========ADMISSIONS=======
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58976 entries, 48231 to 36011
Data columns (total 19 columns):
row_id                  58976 non-null int64
subject_id              58976 non-null int64
hadm_id                 58976 non-null int64
admittime               58976 non-null object
dischtime               58976 non-null object
deathtime               5854 non-null object
admission_type          58976 non-null object
admission_location      58976 non-null object
discharge_location      58976 non-null object
insurance               58976 non-null object
language                33644 non-null object
religion                58518 non-null object
marital_status          48848 non-null object
ethnicity               58976 non-null object
edregtime               30877 non-null object
edouttime               30877 non-null object
diagnosis               58951 non-null object
hospital_expire_flag    58976 non-null int64
has_chartevents_data    58976 non-null int64
dtypes: int64(5), object(14)
memory usage: 9.0+ MB
=========================

========PATIENTS=========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46520 entries, 510 to 7120
Data columns (total 8 columns):
row_id         46520 non-null int64
subject_id     46520 non-null int64
gender         46520 non-null object
dob            46520 non-null object
dod            15759 non-null object
dod_hosp       9974 non-null object
dod_ssn        13378 non-null object
expire_flag    46520 non-null int64
dtypes: int64(3), object(5)
memory usage: 3.2+ MB
=========================

## Examine datasets

In [12]:
dataLos.sample(n=20)

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
44001,42721,44255,154621,292075,metavision,CCU,MICU,7,23,2145-09-27 16:12:30,2145-10-10 14:11:50,12.9162
31625,28972,22883,130357,218726,carevue,CCU,CSRU,57,14,2122-01-20 16:32:11,2122-01-26 12:18:47,5.8240
46282,49605,64277,161558,218555,metavision,SICU,SICU,57,57,2187-08-29 09:37:28,2187-09-02 18:28:36,4.3688
42452,42067,42196,153929,272535,metavision,TSICU,TSICU,14,14,2170-04-24 18:09:56,2170-04-28 21:42:44,4.1478
47151,44003,47993,198686,214358,metavision,CCU,CCU,7,7,2152-04-01 22:39:44,2152-04-03 16:59:39,1.7638
14292,16285,12799,119643,298775,carevue,MICU,CCU,52,7,2199-01-04 22:26:16,2199-01-17 13:57:54,12.6470
43332,43056,45213,197986,233074,metavision,CCU,CCU,7,7,2106-02-03 15:27:17,2106-02-05 18:17:30,2.1182
1601,2137,1690,124967,248919,carevue,NICU,NICU,56,56,2191-07-24 16:47:32,2191-11-15 14:47:32,113.9167
26649,28677,22655,181972,246298,carevue,CSRU,CSRU,14,14,2165-08-20 10:48:42,2165-08-23 10:22:16,2.9816
5446,5875,4644,148758,223853,carevue,MICU,MICU,50,50,2133-03-24 01:37:55,2133-03-31 12:51:50,7.4680
36756,37937,29964,189265,224286,carevue,SICU,SICU,33,33,2189-01-03 03:27:14,2189-01-03 15:22:59,0.4970
33038,39715,31441,145118,249822,carevue,CSRU,CSRU,15,15,2121-07-09 23:23:40,2121-07-11 20:35:31,1.8832
19947,22402,17659,147333,284880,carevue,MICU,MICU,52,52,2200-12-30 17:20:48,2201-01-03 20:00:29,4.1109
36058,34058,26861,115381,249910,metavision,MICU,MICU,52,52,2109-08-08 23:20:21,2109-08-18 20:54:46,9.8989
15407,17912,14098,124288,293991,metavision,CCU,MICU,7,23,2193-10-27 09:37:58,2193-10-31 11:22:12,4.0724
40087,40972,32503,152105,299231,carevue,TSICU,TSICU,14,14,2181-07-24 15:02:06,2181-08-06 04:58:43,12.5810
40577,40410,32055,196987,240490,carevue,NICU,NICU,56,56,2108-02-19 17:31:15,2108-05-15 17:51:36,86.0141
61037,60262,96260,146313,260969,metavision,MICU,MICU,23,23,2194-12-12 16:36:23,2194-12-20 16:18:25,7.9875
10576,8019,6296,107183,217583,carevue,CCU,CCU,7,7,2113-05-20 23:41:54,2113-05-21 14:39:59,0.6237
19615,23875,18847,102371,214867,carevue,CCU,CCU,57,57,2171-01-07 17:23:00,2171-01-11 10:46:00,3.7243

In [13]:
dataAdm.sample(n=20)

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
29190,29152,23849,102435,2188-06-10 11:45:00,2188-06-17 13:20:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT/SDA,0,1
12348,12325,10075,153175,2184-10-04 07:15:00,2184-10-11 14:50:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,AORTIC STENOSIS\BENTAL PROCEDURE /SDA,0,1
13957,12244,9994,138309,2167-08-03 07:15:00,2167-08-08 18:02:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
20561,19000,15560,192863,2112-12-12 16:51:00,2112-12-21 11:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,JEWISH,MARRIED,WHITE,2112-12-12 11:52:00,2112-12-12 17:44:00,RULE-OUT MYOCARDIAL INFARCTION;TELEMETRY,0,1
54375,53459,82494,146806,2109-10-17 02:40:00,2109-11-01 16:20:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,BLACK/AFRICAN AMERICAN,2109-10-16 18:35:00,2109-10-17 03:27:00,POLYTRAUMA,0,1
44753,44622,55027,199296,2115-02-25 14:00:00,2115-03-02 18:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,NaN,NaN,AORTIC STENOSIS\? CORONARY ARTERY BYPASS GRAFT...,0,1
39617,38157,31369,170740,2176-08-25 15:04:00,2176-09-07 14:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2176-08-25 12:47:00,2176-08-25 16:33:00,UPPER GI BLEED,0,1
36019,35220,28863,140125,2131-11-03 17:58:00,2131-11-04 12:50:00,2131-11-04 12:50:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,UNABLE TO OBTAIN,NaN,NaN,MYOCARDIAL INFARCTION,1,1
47816,46848,61855,189040,2104-02-28 17:17:00,2104-03-05 21:40:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2104-02-28 14:52:00,2104-02-28 18:15:00,SUBARACHNOID HEMORRHAGE,0,1
15911,15871,12947,193885,2190-08-27 11:54:00,2190-08-30 19:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,NaN,MARRIED,UNKNOWN/NOT SPECIFIED,NaN,NaN,"DYSPNEA, CAD\CATH",0,1
19580,15690,12798,180835,2190-03-15 14:01:00,2190-03-23 14:46:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,JEWISH,MARRIED,WHITE,NaN,NaN,CONGESTIVE HEART FAILURE\RIGHT HEART CATH,0,1
52870,51259,75817,157334,2185-06-12 16:44:00,2185-07-29 16:40:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,ENGL,CATHOLIC,SINGLE,WHITE,2185-06-12 14:37:00,2185-06-12 18:58:00,SEIZURE,0,1
32283,32363,26451,113493,2116-08-10 21:05:00,2116-08-19 12:21:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,NaN,JEWISH,MARRIED,WHITE,2116-08-10 18:51:00,2116-08-10 21:06:00,DIVERTICULITIS,0,1
16042,15041,12240,124994,2134-09-22 22:52:00,2134-09-28 04:13:00,2134-09-28 04:13:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,NaN,NaN,UNKNOWN/NOT SPECIFIED,2134-09-22 16:41:00,2134-09-23 01:52:00,GASTROINTESTINAL BLEED,1,1
15796,14867,12093,165335,2115-04-27 18:33:00,2115-05-07 02:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,NOT SPECIFIED,SINGLE,WHITE,2115-04-27 16:26:00,2115-04-27 20:30:00,UPPER GI BLEED,0,1
14852,17901,14625,107638,2182-09-24 17:32:00,2182-09-25 14:19:00,2182-09-25 14:19:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,NOT SPECIFIED,WIDOWED,UNKNOWN/NOT SPECIFIED,NaN,NaN,MYOCARDIAL INFARCTION\CATH,1,1
48677,49849,71200,147685,2113-08-16 16:02:00,2113-08-18 13:00:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOSPICE-HOME,Medicaid,ENGL,NOT SPECIFIED,MARRIED,WHITE,2113-08-16 12:23:00,2113-08-16 18:56:00,IVC OBSTRUCTION,0,1
39354,40998,43909,167612,2152-10-09 19:05:00,2152-10-09 22:33:00,2152-10-09 22:33:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,RUSS,UNOBTAINABLE,NaN,WHITE,2152-10-09 17:00:00,2152-10-09 19:54:00,PNEUMONIA;TELEMETRY,1,1
25967,27146,22237,130173,2106-03-10 00:00:00,2106-03-17 17:05:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,NaN,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,ASD\REPAIR ATRIAL-SEPTAL DEFECT; LIMITED ACCESS,0,1
6737,5186,4283,188252,2196-04-06 18:29:00,2196-04-08 12:35:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,OTHER,NaN,NaN,NEWBORN,0,1

In [14]:
dataPat.sample(n=20)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
28312,31705,43561,F,2079-04-20 00:00:00,NaN,NaN,NaN,0
1667,1723,1823,F,2100-12-13 00:00:00,NaN,NaN,NaN,0
29323,22142,23453,F,2184-07-20 00:00:00,NaN,NaN,NaN,0
10865,11655,12312,M,2094-03-21 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,2158-01-28 00:00:00,1
34324,27273,28955,F,2122-10-13 00:00:00,NaN,NaN,NaN,0
34100,36464,61355,F,2130-12-06 00:00:00,NaN,NaN,NaN,0
25077,26139,27713,M,2114-11-12 00:00:00,NaN,NaN,NaN,0
20625,15425,16314,M,2137-09-02 00:00:00,NaN,NaN,NaN,0
30168,32782,47618,F,2080-04-15 00:00:00,NaN,NaN,NaN,0
34348,27297,28981,F,2106-11-11 00:00:00,NaN,NaN,NaN,0
2092,1470,1552,F,2144-11-02 00:00:00,NaN,NaN,NaN,0
38494,46234,98899,M,2095-07-22 00:00:00,NaN,NaN,NaN,0
25483,31466,42555,F,2130-06-18 00:00:00,NaN,NaN,NaN,0
34869,33116,48857,M,2061-04-28 00:00:00,NaN,NaN,NaN,0
45206,29872,31813,M,2060-03-14 00:00:00,NaN,NaN,NaN,0
27516,32956,48237,F,2109-10-19 00:00:00,NaN,NaN,NaN,0
27130,31853,44154,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1
7651,8240,8713,M,2184-09-02 00:00:00,NaN,NaN,NaN,0
8260,7443,7869,M,2181-07-06 00:00:00,NaN,NaN,NaN,0
37117,45921,97672,M,2160-01-17 00:00:00,NaN,NaN,NaN,0

In [15]:
## Analyze Call out data

In [16]:
#if os.name == "posix":
dataCallOUT = pd.read_csv("C:\mimic3\CALLOUT.csv")
dataCallOUT = shuffle(dataCallOUT)
dataCallOUT.columns = [x.lower() for x in dataCallOUT.columns]
print("========CallOUT=========")
dataCallOUT.info()
print("=========================")
print()
print("========Sample=========")
dataCallOUT.sample(n=20)

========CallOUT=========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34499 entries, 17011 to 25090
Data columns (total 24 columns):
row_id                    34499 non-null int64
subject_id                34499 non-null int64
hadm_id                   34499 non-null int64
submit_wardid             34498 non-null float64
submit_careunit           5122 non-null object
curr_wardid               34498 non-null float64
curr_careunit             34498 non-null object
callout_wardid            34499 non-null int64
callout_service           34499 non-null object
request_tele              34499 non-null int64
request_resp              34499 non-null int64
request_cdiff             34499 non-null int64
request_mrsa              34499 non-null int64
request_vre               34499 non-null int64
callout_status            34499 non-null object
callout_outcome           34499 non-null object
discharge_wardid          29967 non-null float64
acknowledge_status        34499 non-null object
createtime                34499 non-null object
updatetime                34499 non-null object
acknowledgetime           32707 non-null object
outcometime               34499 non-null object
firstreservationtime      15260 non-null object
currentreservationtime    1164 non-null object
dtypes: float64(3), int64(9), object(12)
memory usage: 6.6+ MB
=========================

========Sample=========

,row_id,subject_id,hadm_id,submit_wardid,submit_careunit,curr_wardid,curr_careunit,callout_wardid,callout_service,request_tele,...,callout_status,callout_outcome,discharge_wardid,acknowledge_status,createtime,updatetime,acknowledgetime,outcometime,firstreservationtime,currentreservationtime
1300,1485,3866,162324,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2135-01-26 10:33:55,2135-01-26 10:33:55,2135-01-26 10:39:08,2135-01-26 21:10:04,NaN,NaN
21172,22507,60947,181779,52.0,NaN,29.0,MICU,1,SURG,1,...,Inactive,Discharged,29.0,Acknowledged,2158-04-08 09:29:41,2158-04-08 13:36:02,2158-04-08 13:40:20,2158-04-08 20:40:08,2158-04-08 13:10:11,NaN
31585,30287,86276,149638,52.0,NaN,24.0,MICU,1,MED,0,...,Inactive,Discharged,24.0,Acknowledged,2174-10-12 13:51:04,2174-10-12 17:33:26,2174-10-12 17:33:28,2174-10-12 21:58:56,2174-10-12 20:29:15,NaN
16237,17627,45767,157789,52.0,NaN,48.0,MICU,48,OMED,1,...,Inactive,Discharged,48.0,Acknowledged,2110-07-22 11:44:02,2110-07-22 20:01:59,2110-07-22 21:03:19,2110-07-24 00:44:09,NaN,NaN
20455,21461,57715,178632,14.0,NaN,40.0,TSICU,40,TRAUM,1,...,Inactive,Discharged,40.0,Acknowledged,2110-02-21 10:34:58,2110-02-21 10:34:58,2110-02-21 10:50:00,2110-02-21 17:25:25,2110-02-21 11:55:27,NaN
9452,7410,19236,121214,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2144-04-02 12:12:16,2144-04-02 12:12:16,2144-04-03 04:53:37,2144-04-03 17:10:02,NaN,NaN
12514,11721,28152,135885,52.0,NaN,18.0,MICU,1,MED,0,...,Inactive,Discharged,18.0,Acknowledged,2165-11-25 12:32:07,2165-11-25 15:03:36,2165-11-25 15:15:51,2165-11-25 20:40:41,2165-11-25 18:41:20,NaN
10513,8688,22590,172396,14.0,TSICU,14.0,TSICU,1,TRAUM,1,...,Inactive,Cancelled,NaN,Acknowledged,2178-12-27 08:59:14,2178-12-27 17:33:57,2178-12-27 12:23:47,2178-12-27 17:33:57,NaN,NaN
10669,8921,23201,131913,15.0,NaN,17.0,CSRU,17,CMED,1,...,Inactive,Discharged,17.0,Acknowledged,2181-10-06 15:19:06,2181-10-06 15:30:29,2181-10-06 15:34:47,2181-10-06 20:10:03,NaN,NaN
11667,15028,31858,188159,23.0,NaN,45.0,MICU,1,MED,0,...,Inactive,Discharged,45.0,Acknowledged,2185-10-21 11:24:58,2185-10-21 11:26:16,2185-10-21 11:55:58,2185-10-22 23:40:03,NaN,NaN
31057,31389,90067,144423,14.0,TSICU,14.0,TSICU,40,TRAUM,0,...,Inactive,Cancelled,NaN,Acknowledged,2155-10-07 10:19:34,2155-10-07 11:28:38,2155-10-07 10:27:34,2155-10-07 11:28:38,NaN,NaN
14084,13225,29728,179225,7.0,NaN,2.0,CCU,1,CMED,1,...,Inactive,Discharged,2.0,Revised,2173-09-17 09:07:29,2173-09-17 17:20:39,NaN,2173-09-17 21:55:02,NaN,NaN
10158,11085,27498,123136,14.0,NaN,3.0,TSICU,3,NSURG,0,...,Inactive,Discharged,3.0,Acknowledged,2173-07-12 14:49:27,2173-07-13 08:42:21,2173-07-13 09:17:35,2173-07-13 18:40:03,NaN,NaN
8756,7355,19078,194050,23.0,NaN,2.0,MICU,1,CCU,1,...,Inactive,Discharged,2.0,Acknowledged,2114-12-06 13:25:19,2114-12-06 13:25:19,2114-12-06 14:06:58,2114-12-06 20:25:05,NaN,NaN
7646,8278,21522,187500,57.0,SICU,57.0,SICU,1,SURG,1,...,Inactive,Cancelled,NaN,Unacknowledged,2197-04-15 12:18:51,2197-04-15 12:43:30,NaN,2197-04-15 12:43:30,NaN,NaN
4238,4703,12011,130378,52.0,MICU,52.0,MICU,1,GU,0,...,Inactive,Cancelled,NaN,Revised,2173-03-10 12:45:38,2173-03-10 17:40:18,NaN,2173-03-10 17:40:18,NaN,NaN
18171,17091,44083,131048,7.0,CCU,7.0,CCU,17,CCU,1,...,Inactive,Cancelled,NaN,Acknowledged,2112-05-24 16:27:05,2112-05-24 18:45:28,2112-05-24 17:42:04,2112-05-24 18:45:28,2112-05-24 17:55:07,2112-05-24 17:55:07
9100,8358,21745,115254,23.0,NaN,4.0,MICU,1,MED,0,...,Inactive,Discharged,4.0,Acknowledged,2114-06-02 10:44:43,2114-06-02 10:44:43,2114-06-02 14:49:28,2114-06-02 18:40:01,NaN,NaN
8959,7375,19129,135835,12.0,CSRU,12.0,CSRU,55,CSURG,1,...,Inactive,Cancelled,NaN,Acknowledged,2193-03-10 10:34:11,2193-03-10 23:51:46,2193-03-10 10:38:37,2193-03-10 23:51:46,NaN,NaN
22589,23066,62811,146984,14.0,NaN,40.0,TSICU,40,TRAUM,0,...,Inactive,Discharged,40.0,Acknowledged,2166-03-28 11:01:26,2166-03-28 11:01:26,2166-03-28 11:39:14,2166-03-28 12:55:09,2166-03-28 11:10:08,NaN

In [17]:
## concatinate tables

In [24]:
dataCallOUT.hadm_id.duplicated().sum()

17011    False
61       False
1713     False
13584    False
16009    False
15966    False
17957    False
26709    False
29343    False
19730    False
507      False
12097    False
18676    False
6882     False
31298    False
26843    False
13770    False
22199    False
5962     False
183      False
30059    False
16816    False
24459    False
34011    False
25746    False
21697    False
18347    False
17111    False
27371    False
25265    False
         ...
12355     True
12880    False
28895    False
19475    False
13714    False
5031     False
17197     True
29296     True
25704    False
5275     False
8858     False
22136    False
7583      True
9496     False
24112    False
23315    False
1909     False
8572     False
23826    False
22449    False
20342    False
20136    False
14024    False
12449     True
14417    False
6082      True
15306     True
17399     True
21767    False
25090    False
Name: hadm_id, Length: 34499, dtype: bool

## Test and Training sets

## Conclusion
#### From the the following tables (ADMISSIONS, ICUSTAYS, PATIENTS) this data concludes that the following columns are the most useful in determining the length of stay of the patient.